Repository the-broke-sommeliers/wine-cellar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, make lint-html, make lint-py

fix linting, format, add homepage
  .flake8
  Makefile
  pyproject.toml
  wine_cellar/apps/wine/admin.py
  wine_cellar/apps/wine/apps.py
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/apps/wine/tests.py
  wine_cellar/apps/wine/views.py
  wine_cellar/conf/asgi.py
  wine_cellar/conf/settings.py
  wine_cellar/conf/urls.py
  wine_cellar/conf/wsgi.py
  wine_cellar/static/css/page-layout.css
  wine_cellar/templates/base.html
Due: stylelint, make lint-html, make lint-py

add landing page, login/logout redirect, working logout button
  .lintstagedrc.json
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/apps/wine/views.py
  wine_cellar/conf/settings.py
  wine_cellar/static/css/menu.css
  wine_cellar/templates/base.html
  wine_cellar/templates/registration/logout.html
Due: stylelint, make lint-html, make lint-py

fix base.html errors
  wine_cellar/apps/wine/views.py
  wine_cellar/templates/base.html
Due: make lint-html, make lint-py

wip p
  wine_cellar/apps/wine/templates/wine_search.html
  wine_cellar/apps/wine/views.py
  wine_cellar/conf/urls.py
  wine_cellar/templates/base.html
  wine_cellar/templates/registration/login.html
Due: make lint-html, make lint-py

wip j
  README.md
  datasets/XWines_Test_100_wines.csv
  wine_cellar/apps/wine/management/__init__.py
  wine_cellar/apps/wine/management/commands/__init__.py
  wine_cellar/apps/wine/management/commands/import.py
  wine_cellar/apps/wine/migrations/0001_initial.py
  wine_cellar/apps/wine/migrations/0002_alter_wine_capacity.py
  wine_cellar/apps/wine/migrations/0003_alter_wine_rating.py
  wine_cellar/apps/wine/migrations/0004_wine_wine_id.py
  wine_cellar/apps/wine/migrations/0005_alter_wine_vintage.py
  wine_cellar/apps/wine/migrations/0006_region_region_id_winery_winery_id.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/templates/wine_list.html
Due: make lint-html, make lint-py

add mustache
  wine_cellar/apps/wine/templates/wine_search.html
  wine_cellar/templates/base.html
Due: make lint-html

add note about api server
  README.md
Due: none

rename tags -> food pairing
  wine_cellar/apps/wine/templates/wine_search.html
Due: make lint-html

add search to sidebar
  wine_cellar/templates/base.html
Due: make lint-html

add category fixtures
  Makefile
  fixtures/classification.json
Due: none

add initial test setup
  pyproject.toml
  requirements.txt
  tests/conftest.py
  tests/test_api.py
  wine_cellar/apps/wine/tests/__init__.py
  wine_cellar/apps/wine/tests/factories.py
Due: make lint-py

add categories to admin, update models, add serializer and viewset
  wine_cellar/apps/wine/admin.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/serializers.py
  wine_cellar/apps/wine/viewsets.py
Due: make lint-py

update import management
  wine_cellar/apps/wine/management/commands/import.py
Due: make lint-py

update pyproject.toml
  pyproject.toml
Due: none

recreate migrations
  wine_cellar/apps/wine/migrations/0001_initial.py
  wine_cellar/apps/wine/migrations/0002_alter_wine_capacity.py
  wine_cellar/apps/wine/migrations/0003_alter_wine_rating.py
  wine_cellar/apps/wine/migrations/0004_wine_wine_id.py
  wine_cellar/apps/wine/migrations/0005_alter_wine_vintage.py
  wine_cellar/apps/wine/migrations/0006_region_region_id_winery_winery_id.py
Due: make lint-py

add view and template for api rendering
  wine_cellar/apps/wine/templates/wine_remote_search.html
  wine_cellar/apps/wine/templates/wine_search.html
  wine_cellar/apps/wine/views.py
  wine_cellar/conf/urls.py
Due: make lint-html, make lint-py

add filters, fix minor things, add image field
  package-lock.json
  requirements.txt
  wine_cellar/apps/filters.py
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/apps/wine/templates/wine_search.html
  wine_cellar/apps/wine/views.py
Due: make lint-html, make lint-py

add image upload, wine-card template, serve media files in development
  requirements.txt
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/migrations/0002_wineimage.py
  wine_cellar/apps/wine/migrations/0003_wineimage_user.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/templates/wine_card.html
  wine_cellar/apps/wine/templates/wine_form.html
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/apps/wine/views.py
  wine_cellar/conf/settings.py
  wine_cellar/conf/urls.py
  wine_cellar/templates/base.html
Due: make lint-html, make lint-py

fix link
  wine_cellar/templates/base.html
Due: make lint-html

add user to wine, add filter to wine list
  wine_cellar/apps/wine/migrations/0004_wine_user.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/apps/wine/views.py
Due: make lint-html, make lint-py

add favicon, add placeholder image, rename wine_form -> wine_create, add wine stock
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/migrations/0005_wine_stock.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/templates/wine_card.html
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/views.py
  wine_cellar/static/images/red_glass2.svg
  wine_cellar/templates/base.html
Due: make lint-html, make lint-py

add initial test, pytest-cov, test_db, move filters.py
  pyproject.toml
  requirements.txt
  tests/conftest.py
  tests/test_api.py
  tests/test_homepage.py
  wine_cellar/apps/__init__.py
  wine_cellar/apps/wine/filters.py
  wine_cellar/apps/wine/tests/factories.py
  wine_cellar/apps/wine/views.py
  wine_cellar/conf/settings.py
  wine_cellar/conf/test.py
Due: make lint-py

add more tests
  .gitignore
  tests/test_homepage.py
  tests/test_views.py
Due: make lint-py

adding grapes attempt
  wine_cellar/apps/wine/forms.py
Due: make lint-py

wine_filter: add template for wine filter elements for styling and include widget tweeks
  wine_cellar/apps/wine/filters.py
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/conf/settings.py
Due: make lint-html, make lint-py

add more tests and factories
  .gitignore
  tests/conftest.py
  tests/helpers.py
  tests/test_wine_model.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/tests/factories.py
  wine_cellar/conf/test.py
Due: make lint-py

add webpack config, use tom-select for select fields
  .eslintrc.js
  Makefile
  package-lock.json
  package.json
  requirements.txt
  webpack.common.js
  webpack.dev.js
  wine_cellar/apps/wine/fields.py
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/views.py
  wine_cellar/assets/css/forms.css
  wine_cellar/assets/css/menu.css
  wine_cellar/assets/css/page-layout.css
  wine_cellar/assets/css/styles.css
  wine_cellar/assets/images/bottle.svg
  wine_cellar/assets/images/favicon.svg
  wine_cellar/assets/images/red_glass.svg
  wine_cellar/assets/images/red_glass1.svg
  wine_cellar/assets/images/red_glass2.svg
  wine_cellar/assets/images/wine_bottle.svg
  wine_cellar/assets/js/init_tom_select.js
  wine_cellar/templates/base.html
Due: eslint, stylelint, make lint-html, make lint-py

add missing template
  wine_cellar/apps/wine/templates/wine_filter_field.html
Due: make lint-html

colour updates
  wine_cellar/static/css/styles.css
Due: stylelint

add OpenMultipleChoiceField to allow adding new grapes, add tests, update gitignore
  .gitignore
  tests/test_views.py
  wine_cellar/apps/wine/fields.py
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/views.py
Due: make lint-py

colour updates
  wine_cellar/assets/css/styles.css
Due: stylelint

add user app, initial templates for profile and settings
  wine_cellar/apps/user/apps.py
  wine_cellar/apps/user/templates/settings.html
  wine_cellar/apps/user/templates/user_profile.html
  wine_cellar/apps/user/views.py
  wine_cellar/conf/settings.py
  wine_cellar/conf/urls.py
  wine_cellar/templates/base.html
Due: make lint-html, make lint-py

improve form, add more fields, hide search for now
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/templates/forms/form_field.html
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/tests/factories.py
  wine_cellar/apps/wine/views.py
  wine_cellar/assets/css/forms.css
  wine_cellar/assets/css/menu.css
  wine_cellar/assets/css/styles.css
  wine_cellar/assets/js/init_tom_select.js
  wine_cellar/templates/base.html
Due: eslint, stylelint, make lint-html, make lint-py

add new design for wine card
  webpack.common.js
  wine_cellar/apps/wine/filters.py
  wine_cellar/apps/wine/migrations/0001_initial.py
  wine_cellar/apps/wine/migrations/0002_wineimage.py
  wine_cellar/apps/wine/migrations/0003_wineimage_user.py
  wine_cellar/apps/wine/migrations/0004_wine_user.py
  wine_cellar/apps/wine/migrations/0005_wine_stock.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/templates/wine_card.html
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/assets/css/card.css
  wine_cellar/assets/images/red_glass_no_ice.svg
  wine_cellar/assets/images/red_glass_no_ice_no_shadow.svg
  wine_cellar/assets/images/white_glass.svg
Due: eslint, stylelint, make lint-html, make lint-py

filter update
  wine_cellar/apps/wine/filters.py
  wine_cellar/templates/base.html
Due: make lint-html, make lint-py

add form error and car sizing
  wine_cellar/apps/wine/templates/forms/form_field.html
  wine_cellar/apps/wine/templates/wine_card.html
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/assets/css/card.css
  wine_cellar/assets/css/forms.css
  wine_cellar/assets/css/page-layout.css
  wine_cellar/assets/css/styles.css
Due: stylelint, make lint-html

- add basic detail view and edit view for wines - make vintage a normal integer fields - add country field - make OpenMultipleChoiceField a bit more robust
  package-lock.json
  package.json
  requirements.txt
  tests/conftest.py
  tests/test_views.py
  tests/test_wine_model.py
  webpack.common.js
  wine_cellar/apps/wine/fields.py
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/migrations/0001_initial.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/templates/wine_card.html
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/apps/wine/templates/wine_edit.html
  wine_cellar/apps/wine/tests/factories.py
  wine_cellar/apps/wine/views.py
  wine_cellar/assets/css/card.css
  wine_cellar/assets/css/detail.css
  wine_cellar/assets/css/utility.css
  wine_cellar/assets/images/white_glass.svg
  wine_cellar/assets/js/init_tom_select.js
  wine_cellar/conf/urls.py
Due: eslint, stylelint, make lint-html, make lint-py

add gunicorn to requirements
  requirements.txt
Due: none

fix wrong settings path *sgi apps
  wine_cellar/conf/asgi.py
  wine_cellar/conf/wsgi.py
Due: make lint-py

add option to remove background from images
  requirements.txt
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/views.py
  wine_cellar/assets/css/forms.css
Due: stylelint, make lint-py

Path conditions:
  eslint: any of: *.{js,jsx}
  stylelint: any of: *.css
  make lint-html: any of: *.html
  make lint-py: any of: *.py
