Repository the-broke-sommeliers/wine-cellar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, make lint-html, make lint-py

.lintstagedrc.json:

{
   "*.{js,jsx}": [
     "eslint"
   ],
   "*.html": [
     "make lint-html"
   ],
   "*.py": [
     "make lint-py"
   ]
}

fix some issues with the new wine card
  wine_cellar/apps/wine/templates/wine_card.html
  wine_cellar/assets/css/card.css
Due: make lint-html

replace favicon and cleanup assets
  wine_cellar/assets/images/favicon.svg
  wine_cellar/assets/images/red_glass.svg
  wine_cellar/assets/images/red_glass1.svg
  wine_cellar/assets/images/red_glass2.svg
  wine_cellar/assets/images/red_glass_no_ice.svg
  wine_cellar/assets/images/red_glass_no_ice_no_shadow.svg
  wine_cellar/assets/images/red_glass_no_ice_no_shadow_short.svg
  wine_cellar/assets/images/white_glass.svg
  wine_cellar/assets/images/white_glass_short.svg
  wine_cellar/assets/images/wine_bottle.svg
  wine_cellar/templates/base.html
Due: make lint-html

add a storage system to allow tracking bottles
  webpack.common.js
  wine_cellar/apps/storage/__init__.py
  wine_cellar/apps/storage/admin.py
  wine_cellar/apps/storage/apps.py
  wine_cellar/apps/storage/forms.py
  wine_cellar/apps/storage/migrations/0001_initial.py
  wine_cellar/apps/storage/migrations/0002_add_default_shelf.py
  wine_cellar/apps/storage/migrations/__init__.py
  wine_cellar/apps/storage/models.py
  wine_cellar/apps/storage/signals.py
  wine_cellar/apps/storage/templates/stock_add.html
  wine_cellar/apps/storage/templates/storage_confirm_delete.html
  wine_cellar/apps/storage/templates/storage_create.html
  wine_cellar/apps/storage/templates/storage_detail.html
  wine_cellar/apps/storage/templates/storage_edit.html
  wine_cellar/apps/storage/templates/storage_item_confirm_delete.html
  wine_cellar/apps/storage/templates/storage_list.html
  wine_cellar/apps/storage/templatetags/__init__.py
  wine_cellar/apps/storage/templatetags/storage_tags.py
  wine_cellar/apps/storage/tests.py
  wine_cellar/apps/storage/views.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/templates/includes/edit_delete_buttons.html
  wine_cellar/apps/wine/templates/includes/pagination.html
  wine_cellar/apps/wine/templates/includes/stock_buttons.html
  wine_cellar/apps/wine/templates/scanned_wine.html
  wine_cellar/apps/wine/templates/wine_confirm_delete.html
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/apps/wine/views.py
  wine_cellar/assets/css/button.css
  wine_cellar/assets/css/detail.css
  wine_cellar/assets/css/storage.css
  wine_cellar/assets/css/styles.css
  wine_cellar/assets/css/utility.css
  wine_cellar/assets/js/stock_add.ts
  wine_cellar/conf/settings.py
  wine_cellar/conf/urls.py
  wine_cellar/templates/base.html
Due: eslint, make lint-html, make lint-py

add test folder and start of tests
  tests/playright_tests/filter_wine.js
  tests/playright_tests/login.js
  tests/playright_tests/wine_create.js
Due: eslint

assets/*: change heading styling so can be used for h2 as well as h1, add min width to stock table and update wine image to ensure centered on mobile
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/assets/css/detail.css
  wine_cellar/assets/css/forms.css
  wine_cellar/assets/css/homepage.css
  wine_cellar/assets/css/page-layout.css
  wine_cellar/assets/css/styles.css
Due: make lint-html

tests/test_view: delete test_wine_increase as does not work with new stock system
  tests/test_views.py
Due: make lint-py

assets/*: change heading styling so can be used for h2 as well as h1, add min width to stock table and update wine image to ensure centered on mobile
  wine_cellar/apps/storage/apps.py
  wine_cellar/apps/storage/models.py
  wine_cellar/apps/storage/signals.py
  wine_cellar/apps/storage/tests.py
Due: make lint-py

update docs
  README.md
  docs/README.md
  docs/deployment.md
Due: none

fix wine name search not finding partial matches
  tests/test_views.py
  wine_cellar/apps/wine/filters.py
Due: make lint-py

add correct file format an make commands
  .github/workflows/playwright.yml
  .gitignore
  Makefile
  package-lock.json
  package.json
  playwright.config.ts
  tests-examples/demo-todo-app.spec.ts
  tests/playright_tests/filter_wine.js
  tests/playright_tests/wine_create.js
  tests/playwright-tests/example.spec.ts
  tests/playwright-tests/filter_wine.spec.js
  tests/playwright-tests/login.spec.js
  tests/playwright-tests/wine_create.spec.js
Due: eslint

utility: add styling for visually hidden
  wine_cellar/apps/wine/templates/includes/pagination.html
  wine_cellar/assets/css/utility.css
  wine_cellar/templates/base.html
Due: make lint-html

update text colour class to an existin class
  wine_cellar/apps/wine/templates/wine_create.html
Due: make lint-html

remove old stock field and fix some missing bits for new stock system
  tests/test_drink_by.py
  tests/test_views.py
  wine_cellar/apps/storage/forms.py
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/migrations/0010_remove_wine_stock.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/tasks.py
  wine_cellar/apps/wine/templates/emails/drink_by_reminder.txt
  wine_cellar/apps/wine/views.py
Due: make lint-py

stock-table: update stock table styling and correct var names
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/assets/css/button.css
  wine_cellar/assets/css/detail.css
  wine_cellar/assets/css/forms.css
  wine_cellar/assets/css/storage.css
  wine_cellar/assets/css/styles.css
  wine_cellar/assets/css/utility.css
Due: make lint-html

fix typo in stock form queryset
  wine_cellar/apps/storage/forms.py
Due: make lint-py

fix map center of spain
  wine_cellar/react/maps/country.json
Due: none

add missing services to prod.full.yml
  docker-compose.prod.full.yml
  docker-compose.prod.yml
Due: none

don't autoupdate our own package
  renovate.json
Due: none

fix renovate.json again
  renovate.json
Due: none

refactor tests a bit and add some initial tests for the storage model
  tests/conftest.py
  tests/storage/__init__.py
  tests/storage/test_views.py
  wine_cellar/apps/storage/tests/__init__.py
  wine_cellar/apps/storage/tests/factories.py
  wine_cellar/apps/user/tests/__init__.py
  wine_cellar/apps/user/tests/factories.py
  wine_cellar/apps/wine/tests/factories.py
Due: make lint-py

wine_cards: fix stock no longer showing
  wine_cellar/apps/wine/templates/wine_card.html
Due: make lint-html

add a parameter to decide where to redirect after stock delete
  wine_cellar/apps/storage/templates/storage_detail.html
  wine_cellar/apps/storage/views.py
  wine_cellar/apps/wine/templates/wine_detail.html
Due: make lint-html, make lint-py
