Repository the-broke-sommeliers/wine-cellar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, make lint-html, make lint-py

.lintstagedrc.json:

{
   "*.{js,jsx}": [
     "eslint"
   ],
   "*.html": [
     "make lint-html"
   ],
   "*.py": [
     "make lint-py"
   ]
}

Add 'Drink By' field to save a date until a wine should be drunk
  locale/de_DE/LC_MESSAGES/django.po
  locale/en_GB/LC_MESSAGES/django.po
  tests/test_views.py
  wine_cellar/apps/wine/filters.py
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/migrations/0007_wine_drink_by.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/templates/wine_card.html
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/apps/wine/views.py
Due: make lint-html, make lint-py

fix missins user from wine model unique constraint
  wine_cellar/apps/wine/migrations/0008_remove_wine_unique_wine_wine_unique_wine.py
  wine_cellar/apps/wine/models.py
Due: make lint-py

use gettext_lazy to fix some translations not being picked up
  wine_cellar/apps/wine/filters.py
  wine_cellar/apps/wine/forms.py
Due: make lint-py

add pound sterlin as currency
  wine_cellar/apps/user/migrations/0002_alter_usersettings_currency.py
  wine_cellar/conf/settings.py
Due: make lint-py

show wine sources in detail view
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/templates/wine_detail.html
Due: make lint-html, make lint-py

add price field to wine
  wine_cellar/apps/user/views.py
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/migrations/0009_wine_price.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/apps/wine/views.py
  wine_cellar/conf/settings.py
Due: make lint-html, make lint-py

make wine picture in detail view have rounded corners
  wine_cellar/assets/css/image.css
Due: none

add map view which shows all known wines on a world map (country only)
  package.json
  webpack.common.js
  webpack.dev.js
  wine_cellar/apps/wine/templates/wine_map.html
  wine_cellar/apps/wine/templatetags/react_maps_tags.py
  wine_cellar/apps/wine/views.py
  wine_cellar/assets/css/image.css
  wine_cellar/assets/css/map.css
  wine_cellar/assets/css/styles.css
  wine_cellar/assets/images/map_pin.svg
  wine_cellar/conf/settings.py
  wine_cellar/conf/urls.py
  wine_cellar/react/maps/GeoJsonMarker.js
  wine_cellar/react/maps/ItemPopup.jsx
  wine_cellar/react/maps/Map.jsx
  wine_cellar/react/maps/MapPopup.jsx
  wine_cellar/react/maps/MaplibreGlLayer.js
  wine_cellar/react/maps/MarkerClusterLayer.js
  wine_cellar/react/maps/WineMaps.jsx
  wine_cellar/react/maps/country.json
  wine_cellar/react/maps/country_points.json
  wine_cellar/react/maps/react_maps.tsx
  wine_cellar/templates/base.html
Due: eslint, make lint-html, make lint-py

add missing babel-runtime
  package.json
Due: none

enable proper source maps
  webpack.dev.js
Due: eslint

fix bug in react map showing the wrong item popup data
  wine_cellar/react/maps/WineMaps.jsx
Due: eslint

add an email reminder to drink wines which will expire in 14 days.
  .env.dev-sample
  .env.prod-sample
  docker-compose.prod.yml
  requirements/base.txt
  requirements/prod.txt
  tests/test_drink_by.py
  tests/user/test_views.py
  wine_cellar/__init__.py
  wine_cellar/apps/user/forms.py
  wine_cellar/apps/user/migrations/0003_usersettings_notifications.py
  wine_cellar/apps/user/models.py
  wine_cellar/apps/user/templates/settings.html
  wine_cellar/apps/wine/emails.py
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/tasks.py
  wine_cellar/apps/wine/templates/emails/drink_by_reminder.txt
  wine_cellar/apps/wine/templates/forms/form_field.html
  wine_cellar/assets/css/forms.css
  wine_cellar/conf/celery.py
  wine_cellar/conf/docker_settings.py
  wine_cellar/conf/settings.py
  wine_cellar/conf/test.py
Due: make lint-html, make lint-py

small fixes about email sending
  .env.prod-sample
  wine_cellar/apps/wine/templates/emails/drink_by_reminder.txt
  wine_cellar/conf/docker_settings.py
Due: make lint-py

replace logo and favicon
  wine_cellar/assets/css/image.css
  wine_cellar/assets/images/logo.svg
  wine_cellar/templates/base.html
Due: make lint-html

fix sizing issue on small screens for the comment form field
  wine_cellar/assets/css/forms.css
Due: none

release v0.0.10
  CHANGELOG.md
  wine_cellar/__init__.py
Due: make lint-py

assets/css/*: update utilitis and style vars
  wine_cellar/assets/css/detail.css
  wine_cellar/assets/css/forms.css
  wine_cellar/assets/css/image.css
  wine_cellar/assets/css/map.css
  wine_cellar/assets/css/styles.css
  wine_cellar/assets/css/utility.css
Due: none

wine_card: use wine image on wine card and update height fixes #298
  wine_cellar/apps/wine/templates/wine_card.html
  wine_cellar/assets/css/card.css
Due: make lint-html

rm image.css file
  webpack.common.js
  wine_cellar/assets/css/image.css
Due: eslint

detail.css: update detail image size and border
  wine_cellar/assets/css/detail.css
Due: none
