Repository the-broke-sommeliers/wine-cellar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, make lint-html, make lint-py

update images and fix card heights and form field geights
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/templates/wine_card.html
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/assets/css/forms.css
  wine_cellar/assets/images/red_glass_no_ice_no_shadow.svg
  wine_cellar/assets/images/red_glass_no_ice_no_shadow_short.svg
  wine_cellar/assets/images/white_glass.svg
  wine_cellar/assets/images/white_glass_short.svg
Due: make lint-html, make lint-py

login fix
  wine_cellar/assets/css/utility.css
  wine_cellar/templates/registration/login.html
Due: make lint-html

pyproject: update name and remove email
  pyproject.toml
Due: none

font size updates and input width correction
  wine_cellar/assets/css/detail.css
  wine_cellar/assets/css/forms.css
  wine_cellar/assets/css/homepage.css
  wine_cellar/assets/css/page-layout.css
  wine_cellar/assets/css/styles.css
Due: none

small style fixes
  wine_cellar/apps/wine/templates/wine_card.html
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/assets/css/forms.css
Due: make lint-html

remove more unused bits
  wine_cellar/apps/user/apps.py
  wine_cellar/apps/user/templates/settings.html
  wine_cellar/apps/user/templates/user_profile.html
  wine_cellar/apps/user/views.py
  wine_cellar/conf/settings.py
  wine_cellar/conf/urls.py
Due: make lint-html, make lint-py

overwrite form_invalid to keep form_step an int
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/views.py
Due: make lint-html, make lint-py

replace capacity with a size field which has a preselection of common sizes
  tests/test_views.py
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/migrations/0001_initial.py
  wine_cellar/apps/wine/migrations/0002_add_common_sizes.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/apps/wine/views.py
Due: make lint-html, make lint-py

Makefile: only load user fixture once
  Makefile
Due: none

add a base model for user content, only show objects created by user in form
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/migrations/0001_initial.py
  wine_cellar/apps/wine/models.py
Due: make lint-py

make size field required
  wine_cellar/apps/wine/forms.py
Due: make lint-py

move tom config method into mixin, add default closeAfterSelection setting
  wine_cellar/apps/wine/forms.py
  wine_cellar/assets/js/init_tom_select.ts
Due: make lint-py

assets/css: form subhead change size
  wine_cellar/assets/css/forms.css
Due: none

login.html: remove colons and make strings translatable
  wine_cellar/templates/registration/login.html
Due: make lint-html

convert WineUpdateView to proper FormView, update forms
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/views.py
Due: make lint-html, make lint-py

adjust filter sizes and responsiveness
  wine_cellar/apps/wine/templates/wine_filter_field.html
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/assets/css/card.css
  wine_cellar/assets/css/forms.css
Due: make lint-html

README: remove api section
  README.md
Due: none

Update README.md with image
  README.md
Due: none

Add LICENSE file
  LICENSE
Due: none

release v0.0.1
  CHANGELOG.md
Due: none

apps/wine: remove MaxValue validator as it would cause a migration every year, future values are already validated in the form
  CHANGELOG.md
  wine_cellar/apps/wine/models.py
Due: make lint-py

use LoginRequiredMiddleware instead of LoginRequiredMixin
  CHANGELOG.md
  wine_cellar/apps/wine/views.py
  wine_cellar/conf/settings.py
Due: make lint-py

apps/wine: optimize WineBaseForm and fix OpenMultipleChoiceField not adding the creator
  CHANGELOG.md
  wine_cellar/apps/wine/fields.py
  wine_cellar/apps/wine/forms.py
Due: make lint-py

apps/wine: prevent wine filters from leaking info about other users wines
  CHANGELOG.md
  wine_cellar/apps/wine/filters.py
Due: make lint-py

apps/wine: only show statistics on landing page about wines of the current user
  wine_cellar/apps/wine/views.py
Due: make lint-py

release v0.0.2
  CHANGELOG.md
Due: none

add footer styling
  wine_cellar/__init__.py
  wine_cellar/apps/wine/templatetags/__init__.py
  wine_cellar/apps/wine/templatetags/settings.py
  wine_cellar/assets/css/page-layout.css
  wine_cellar/conf/settings.py
  wine_cellar/templates/base.html
Due: make lint-html, make lint-py

remove small line-height
  wine_cellar/assets/css/card.css
Due: none

apps/wine: remove MaxValue validator as it would cause a migration every year, future values are already validated in the form
  CHANGELOG.md
  wine_cellar/apps/wine/migrations/0003_alter_wine_vintage.py
  wine_cellar/apps/wine/models.py
Due: make lint-py

Remove later version from LICENSE and add license to footer
  LICENSE
  wine_cellar/templates/base.html
Due: make lint-html

remove background removal feature for now
  requirements.txt
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/views.py
  wine_cellar/assets/css/forms.css
Due: make lint-html, make lint-py

add an initial docker setup for development
  .dockerignore
  .env.dev-sample
  Dockerfile
  README.md
  docker-compose.yml
  entrypoint.sh
  wine_cellar/conf/docker_settings.py
Due: make lint-py

Path conditions:
  eslint: any of: *.{js,jsx}
  make lint-html: any of: *.html
  make lint-py: any of: *.py
