Repository the-broke-sommeliers/wine-cellar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, make lint-html, make lint-py

add some more storage tests
  tests/conftest.py
  tests/storage/test_views.py
  tests/test_views.py
  wine_cellar/apps/storage/tests/factories.py
  wine_cellar/apps/wine/tests/factories.py
Due: make lint-py

add a parameter to decide where to redirect after stock delete
  wine_cellar/apps/storage/templates/storage_detail.html
  wine_cellar/apps/storage/views.py
  wine_cellar/apps/wine/templates/wine_detail.html
Due: make lint-html, make lint-py

fix broken translate tag
  wine_cellar/apps/wine/templates/scanned_wine.html
Due: make lint-html

auto-format django templates
  wine_cellar/apps/storage/templates/storage_detail.html
  wine_cellar/apps/wine/templates/homepage.html
  wine_cellar/apps/wine/templates/includes/edit_delete_buttons.html
  wine_cellar/apps/wine/templates/includes/pagination.html
  wine_cellar/apps/wine/templates/wine_card.html
  wine_cellar/apps/wine/templates/wine_confirm_delete.html
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/apps/wine/templates/wine_map.html
Due: make lint-html

update text colour class to an existin class
  wine_cellar/apps/wine/templates/wine_create.html
Due: make lint-html

stock-table: update stock table styling and correct var names
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/assets/css/button.css
  wine_cellar/assets/css/detail.css
  wine_cellar/assets/css/forms.css
  wine_cellar/assets/css/storage.css
  wine_cellar/assets/css/styles.css
  wine_cellar/assets/css/utility.css
Due: make lint-html

add fixtures for grapes, wines and stock
  Makefile
  fixtures/grapes.json
  fixtures/stock.json
  fixtures/wines.json
Due: none

wine_detail: fix text align
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/assets/css/detail.css
Due: make lint-html

add focus style to secondary button
  wine_cellar/assets/css/button.css
Due: none

update font weight wine card
  wine_cellar/assets/css/page-layout.css
  wine_cellar/assets/css/styles.css
Due: none

make wine card accessible and update style
  wine_cellar/apps/wine/templates/wine_card.html
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/assets/css/card.css
Due: make lint-html

add classification to create form again
  .gitignore
  fixtures/wines.json
  tests/conftest.py
  tests/test_fields.py
  tests/test_views.py
  tests/test_wine_model.py
  wine_cellar/apps/wine/filters.py
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/migrations/0011_rename_classification_attribute_and_more.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/apps/wine/tests/factories.py
  wine_cellar/apps/wine/views.py
Due: make lint-html, make lint-py

update translations
  locale/de_DE/LC_MESSAGES/django.po
  locale/de_DE/LC_MESSAGES/djangojs.po
  locale/en_GB/LC_MESSAGES/django.po
Due: none

fix tom select field existing values becoming invisible on click
  wine_cellar/assets/css/forms.css
Due: none

Separate post_clean code into mixin, add to filterform to preserve filters
  wine_cellar/apps/wine/forms.py
Due: make lint-py

add attribute model to admin
  wine_cellar/apps/wine/admin.py
Due: make lint-py

add some initial ai generated docs for wine and storage
  docs/storage.md
  docs/wine.md
  mkdocs.yml
Due: none

fix some issues with numbers not shown in correct language format
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/templates/wine_detail.html
Due: make lint-html, make lint-py

wine_detail: remove stock leftover
  wine_cellar/apps/wine/templates/wine_detail.html
Due: make lint-html

auto-generate thumbnails to improve image loading
  wine_cellar/apps/wine/apps.py
  wine_cellar/apps/wine/migrations/0012_wineimage_thumbnail.py
  wine_cellar/apps/wine/migrations/0013_create_thumbnails.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/signals.py
  wine_cellar/apps/wine/templates/wine_card.html
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/apps/wine/templatetags/react_maps_tags.py
  wine_cellar/apps/wine/utils.py
  wine_cellar/assets/css/card.css
Due: make lint-html, make lint-py

consider exif orientation for thumbnails
  wine_cellar/apps/wine/utils.py
Due: make lint-py

Path conditions:
  eslint: any of: *.{js,jsx}
  make lint-html: any of: *.html
  make lint-py: any of: *.py
