Repository the-broke-sommeliers/wine-cellar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, make lint-html, make lint-py

.lintstagedrc.json:

{
   "*.{js,jsx}": [
     "eslint"
   ],
   "*.html": [
     "make lint-html"
   ],
   "*.py": [
     "make lint-py"
   ]
}

fix(docker-dev): only run migrations in web container
  entrypoint.sh
Due: none

feat(docker-dev): add make command to add sample data for development
  Makefile
  docs/deployment.md
Due: none

docs(README): fix typo
  README.md
Due: none

chore(packages): update stylelint, remove stylelint-declaration-strict-value, fix lint errors
  package.json
  wine_cellar/assets/js/stock_add.ts
Due: none

fix(docker-dev): hot reload of js/css not working
  docker-compose.yml
Due: none

feat(wine): add location field to wine
  package.json
  tests/conftest.py
  tests/test_utils.py
  webpack.common.js
  wine_cellar/apps/wine/admin.py
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/migrations/0016_wine_location.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/templates/widgets/map_choose_point_widget.html
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/apps/wine/templates/wine_edit.html
  wine_cellar/apps/wine/templatetags/react_maps_tags.py
  wine_cellar/apps/wine/utils.py
  wine_cellar/apps/wine/views.py
  wine_cellar/apps/wine/widgets.py
  wine_cellar/assets/css/detail.css
  wine_cellar/react/maps/AddMarkerControl.js
  wine_cellar/react/maps/ChoosePointMap.jsx
  wine_cellar/react/maps/WineMaps.jsx
  wine_cellar/react/maps/ZoomToMarkers.tsx
  wine_cellar/react/maps/react_choose_point.jsx
Due: eslint, make lint-html, make lint-py

fix(filter): when sorting by price show wines without price last
  tests/test_views.py
  wine_cellar/apps/wine/filters.py
  wine_cellar/apps/wine/views.py
Due: make lint-py

build(node): update to nodejs 24
  Dockerfile
  Dockerfile.prod
Due: none

refactor: format map_choose_point_widget.html
  wine_cellar/apps/wine/templates/widgets/map_choose_point_widget.html
Due: make lint-html

feat(wine): add field for region and appellation
  Makefile
  fixtures/region_and_appellation.json
  fixtures/wines.json
  tests/conftest.py
  tests/test_views.py
  wine_cellar/apps/wine/admin.py
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/migrations/0017_appellation_wine_appellation_region_wine_region_and_more.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/apps/wine/tests/factories.py
  wine_cellar/apps/wine/views.py
Due: make lint-html, make lint-py

fix(form): use NumberInput widget for abv and price
  wine_cellar/apps/wine/forms.py
Due: make lint-py

fix(storage): don't include deleted bottles in used slots count
  tests/storage/test_models.py
  wine_cellar/apps/storage/models.py
Due: make lint-py

fix(map): fix incorrect call to get_map_attributes
  wine_cellar/apps/wine/templatetags/react_maps_tags.py
Due: make lint-py

fix(docker): fix broken Dockerfile for prod after node update
  Dockerfile.prod
Due: none

docs: migrate from mkdocs to zensical
  .github/workflows/docs.yml
  .gitignore
  docs/README.md
  docs/logo.svg
  mkdocs.yml
  zensical.toml
Due: none

refactor(ci): add better name for docs workflow
  .github/workflows/docs.yml
Due: none

docs: update screenshots and refine sections
  docs/README.md
  docs/deployment.md
  docs/development/setup.md
  docs/development/testing.md
  docs/setup.md
  docs/setup/deployment.md
  docs/testing.md
  docs/usage/storage.md
  docs/usage/wine.md
  docs/wine.md
  zensical.toml
Due: none

fix(wine form): fix error in handling region and appellation
  wine_cellar/apps/wine/forms.py
Due: make lint-py

fix(wine form): fix image step no longer accessible
  wine_cellar/apps/wine/templates/wine_create.html
Due: make lint-html

refactor(celery): remove django-celery-beat as it's not really maintained and overkill.
  requirements/base.txt
  wine_cellar/apps/wine/migrations/0018_remove_django_celery_beat.py
  wine_cellar/apps/wine/templates/emails/drink_by_reminder.txt
  wine_cellar/conf/celery.py
  wine_cellar/conf/docker_settings.py
  wine_cellar/conf/settings.py
Due: make lint-py

feat(lang): add french translation
  locale/fr_FR/LC_MESSAGES/djangojs.po
Due: none

feat(lang): add french translation
  locale/fr_FR/LC_MESSAGES/django.po
Due: none
