Repository the-broke-sommeliers/wine-cellar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, make lint-html, make lint-py

chore: update all missing translations
  locale/de_DE/LC_MESSAGES/django.po
  locale/de_DE/LC_MESSAGES/djangojs.po
  locale/fr_FR/LC_MESSAGES/django.po
  locale/fr_FR/LC_MESSAGES/djangojs.po
  locale/sv_SE/LC_MESSAGES/django.po
  locale/sv_SE/LC_MESSAGES/djangojs.po
Due: none

fix: uv.lock version
  uv.lock
Due: none

feat: add initial swedish translation
  locale/de_DE/LC_MESSAGES/django.po
  locale/fr_FR/LC_MESSAGES/django.po
  locale/sv_SE/LC_MESSAGES/django.po
  locale/sv_SE/LC_MESSAGES/djangojs.po
  wine_cellar/apps/user/migrations/0005_alter_usersettings_language.py
  wine_cellar/conf/settings.py
Due: make lint-py

feat: add option to add multiple bottles at once, add visual slot picker for shelves
  tests/e2e/test_stock_add_edit.py
  tests/storage/test_views_stock.py
  types/django.d.ts
  webpack.common.js
  wine_cellar/apps/storage/forms.py
  wine_cellar/apps/storage/models.py
  wine_cellar/apps/storage/templates/stock_add.html
  wine_cellar/apps/storage/views.py
  wine_cellar/assets/css/stock_picker.css
  wine_cellar/assets/js/stock_add.ts
Due: eslint, make lint-html, make lint-py

feat: add real event loggign (wine add/remove, bottle open/consume/remove):
  tests/conftest.py
  tests/storage/test_models.py
  tests/storage/test_views_consume.py
  tests/storage/test_views_history.py
  tests/storage/test_views_open.py
  tests/storage/test_views_stock.py
  tests/storage/test_views_undo_open.py
  tests/wine/test_views_create.py
  tests/wine/test_views_crud.py
  webpack.common.js
  wine_cellar/apps/storage/admin.py
  wine_cellar/apps/storage/migrations/0007_storageitemevent.py
  wine_cellar/apps/storage/migrations/0008_backfill_storageitemevent.py
  wine_cellar/apps/storage/models.py
  wine_cellar/apps/storage/templates/storage_item_history.html
  wine_cellar/apps/storage/tests/factories.py
  wine_cellar/apps/storage/views.py
  wine_cellar/apps/wine/views.py
  wine_cellar/assets/css/timeline.css
Due: eslint, make lint-html, make lint-py

feat: show button to django admin to staff/superusers
  wine_cellar/templates/base.html
Due: make lint-html

fix: possible race condition when adding/swapping a storage item
  tests/storage/test_models.py
  tests/storage/test_views_stock.py
  wine_cellar/apps/storage/migrations/0009_storageitem_unique_active_slot_per_storage.py
  wine_cellar/apps/storage/models.py
  wine_cellar/apps/storage/views.py
Due: make lint-py

ci: enable arm64 builds to support apple silicon
  .github/workflows/image.yml
Due: none

fix: enable renovate for docker dependencies
  renovate.json
Due: none

tests: add more tests for previously uncovered bits
  tests/e2e/test_navigation.py
  tests/e2e/test_stock_lifecycle_and_history.py
  tests/storage/test_views_stock.py
  tests/storage/test_views_swap.py
  tests/wine/test_models.py
  tests/wine/test_serializers.py
  tests/wine/test_utils.py
  tests/wine/test_views_ai.py
  tests/wine/test_views_create.py
  tests/wine/test_views_crud.py
  tests/wine/test_views_home.py
  tests/wine/test_views_list.py
  tests/wine/test_widgets.py
Due: make lint-py

ci: update uv.lock on release
  .github/workflows/release.yml
Due: none

chore: enable all digest updates for renovate
  renovate.json
Due: none

fix: reenable python 3.14 as litellm finally supports it
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .python-version
  renovate.json
Due: none

fix: use environment variables for SECRET_KEY and DEBUG
  wine_cellar/conf/settings.py
Due: make lint-py

fix: force tls for oauth callback urls, add option to pass a domain to the form action csp
  .env.dev-sample
  .env.prod-sample
  docs/setup/sso.md
  wine_cellar/conf/docker_dev_settings.py
  wine_cellar/conf/docker_settings.py
  wine_cellar/conf/prod.py
Due: make lint-py

fix: remove SECURE_SSL_REDIRECT again as it may cause an endless redirect with a reverse proxy
  wine_cellar/conf/prod.py
Due: make lint-py

ci: build arm images on a dedicated runner
  .github/workflows/image.yml
Due: none

feat: migrate to Django 6.1
  tests/storage/test_models.py
  tests/wine/test_models.py
  wine_cellar/apps/storage/models.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/tasks.py
  wine_cellar/conf/docker_dev_settings.py
  wine_cellar/conf/docker_settings.py
  wine_cellar/conf/settings.py
Due: make lint-py

fix: some inefficient database queries
  tests/storage/test_views_consume.py
  tests/storage/test_views_history.py
  tests/storage/test_views_open.py
  tests/storage/test_views_stock.py
  tests/storage/test_views_undo_open.py
  tests/wine/test_models.py
  tests/wine/test_utils.py
  tests/wine/test_views_create.py
  tests/wine/test_views_crud.py
  tests/wine/test_views_list.py
  wine_cellar/apps/storage/models.py
  wine_cellar/apps/storage/views.py
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/apps/wine/views.py
  wine_cellar/assets/css/forms.css
Due: make lint-html, make lint-py

tests: add query count check, fix date issue
  tests/storage/test_models.py
  tests/storage/test_views.py
  tests/storage/test_views_consume.py
  tests/storage/test_views_history.py
  tests/storage/test_views_labels.py
  tests/storage/test_views_open.py
  tests/storage/test_views_stock.py
  tests/storage/test_views_swap.py
  tests/storage/test_views_undo_open.py
  tests/user/test_views.py
  tests/wine/test_fields.py
  tests/wine/test_models.py
  tests/wine/test_serializers.py
  tests/wine/test_tasks.py
  tests/wine/test_utils.py
  tests/wine/test_views_ai.py
  tests/wine/test_views_create.py
  tests/wine/test_views_crud.py
  tests/wine/test_views_home.py
  tests/wine/test_views_list.py
  tests/wine/test_views_misc.py
  wine_cellar/apps/storage/views.py
  wine_cellar/apps/wine/tasks.py
Due: make lint-py

feat: expose more SSO allauth settings
  .env.prod-sample
  docs/setup/sso.md
  docs/usage/users.md
  tests/user/test_adapters.py
  wine_cellar/apps/user/signup_adapter.py
  wine_cellar/conf/docker_dev_settings.py
  wine_cellar/conf/docker_settings.py
  wine_cellar/conf/settings.py
Due: make lint-py

fix: default email verification for regular sign-ups is now optional
  .env.prod-sample
  docs/usage/users.md
Due: none

Path conditions:
  eslint: any of: *.{js,jsx}
  make lint-html: any of: *.html
  make lint-py: any of: *.py
