Repository the-broke-sommeliers/wine-cellar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, make lint-html, make lint-py

.lintstagedrc.json:

{
   "*.{js,jsx}": [
     "eslint"
   ],
   "*.html": [
     "make lint-html"
   ],
   "*.py": [
     "make lint-py"
   ]
}

docker: add a healthcheck for the main container, prevent the other containers from applying database migrations
  Dockerfile.prod
  caddy/Caddyfile
  docker-compose.prod.yml
  entrypoint.prod.sh
  wine_cellar/apps/wine/views.py
  wine_cellar/conf/urls.py
Due: make lint-py

consider exif orientation for thumbnails
  wine_cellar/apps/wine/utils.py
Due: make lint-py

remove docker-compose.prod.full.yml
  docker-compose.prod.full.yml
  docs/deployment.md
Due: none

add sentry/bugsink sdk
  .env.prod-sample
  requirements/prod.txt
  wine_cellar/conf/docker_settings.py
Due: make lint-py

docker_prod: use consistent env access
  wine_cellar/conf/docker_settings.py
Due: make lint-py

don't expose caddy port directly
  docker-compose.prod.yml
Due: none

release v0.0.11
  CHANGELOG.md
  docker-compose.prod.yml
  wine_cellar/__init__.py
Due: make lint-py

fix creating storage without rows/columns failing
  wine_cellar/apps/storage/views.py
Due: make lint-py

release v0.0.12
  CHANGELOG.md
  docker-compose.prod.yml
  wine_cellar/__init__.py
Due: make lint-py

change boolean value for the popup close button fixes #467
  wine_cellar/assets/css/map.css
  wine_cellar/react/maps/MapPopup.jsx
Due: eslint

add orange wine to model with migration
  wine_cellar/apps/wine/migrations/0014_alter_wine_wine_type.py
  wine_cellar/apps/wine/models.py
Due: make lint-py

storage: fix broken stock adding
  wine_cellar/apps/storage/templates/stock_add.html
  wine_cellar/apps/storage/views.py
  wine_cellar/assets/js/stock_add.ts
Due: make lint-html, make lint-py

docker-compose.prod.yml: use latest tag to make updating easier
  docker-compose.prod.yml
Due: none

add more validation and tests for the stock add view
  tests/storage/test_views.py
  wine_cellar/apps/storage/forms.py
  wine_cellar/apps/storage/models.py
  wine_cellar/apps/storage/views.py
Due: make lint-py

add vscode folder to gitignore
  .gitignore
Due: none

mark stock items as deleted instead of actually deleting them from the db
  tests/storage/test_views.py
  wine_cellar/apps/storage/migrations/0003_storageitem_deleted.py
  wine_cellar/apps/storage/models.py
  wine_cellar/apps/storage/templates/storage_item_history.html
  wine_cellar/apps/storage/templates/storage_list.html
  wine_cellar/apps/storage/views.py
  wine_cellar/apps/wine/models.py
  wine_cellar/conf/urls.py
Due: make lint-html, make lint-py

chore: add commitizen to enforce conventional commits and auto-generate changelog
  .husky/commit-msg
  README.md
  pyproject.toml
  requirements/dev.txt
Due: none

feat(storage): add a stock history page which lists removed stock items
  tests/storage/test_views.py
  wine_cellar/apps/storage/migrations/0003_storageitem_deleted.py
  wine_cellar/apps/storage/models.py
  wine_cellar/apps/storage/templates/storage_item_history.html
  wine_cellar/apps/storage/templates/storage_list.html
  wine_cellar/apps/storage/views.py
  wine_cellar/apps/wine/models.py
  wine_cellar/conf/urls.py
Due: make lint-html, make lint-py

feat(wine): add orange wine to model with migration
  wine_cellar/apps/wine/migrations/0014_alter_wine_wine_type.py
  wine_cellar/apps/wine/models.py
Due: make lint-py

fix(map): change boolean value for the popup close button fixes #467
  wine_cellar/assets/css/map.css
  wine_cellar/react/maps/MapPopup.jsx
Due: eslint

fix(storage): fix broken stock adding
  wine_cellar/apps/storage/templates/stock_add.html
  wine_cellar/apps/storage/views.py
  wine_cellar/assets/js/stock_add.ts
Due: make lint-html, make lint-py

build(docker): use latest tag to make updating easier
  docker-compose.prod.yml
Due: none

fix(storage): add more validation and tests for the stock add view
  tests/storage/test_views.py
  wine_cellar/apps/storage/forms.py
  wine_cellar/apps/storage/models.py
  wine_cellar/apps/storage/views.py
Due: make lint-py

chore: add vscode folder to gitignore
  .gitignore
Due: none
