Repository the-broke-sommeliers/wine-cellar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, make lint-html, make lint-py

feat: add option to use ai uploaded images for created wine
  tests/wine/test_views_ai.py
  tests/wine/test_views_create.py
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/views.py
Due: make lint-html, make lint-py

fix: use bugsink recommended settings for sentry sdk
  wine_cellar/conf/docker_settings.py
Due: make lint-py

feat: show better message that ai upload pictures will be saved
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/views.py
Due: make lint-html, make lint-py

fix: mark size field as create again to allow adding custom sizes
  wine_cellar/apps/wine/forms.py
Due: make lint-py

fix: properly verify ai returned coordinates, try reprompting if incorrect
  tests/wine/test_serializers.py
  tests/wine/test_utils.py
  tests/wine/test_views_ai.py
  wine_cellar/apps/wine/serializers.py
  wine_cellar/apps/wine/utils.py
  wine_cellar/apps/wine/views.py
Due: make lint-py

feat: add storage to filters
  tests/wine/test_views_list.py
  wine_cellar/apps/wine/filters.py
Due: make lint-py

fix: add missing terser-plugin
  package-lock.json
  package.json
Due: none

feat: show preview when reusing ai upload images
  .gitignore
  tests/wine/test_views_create.py
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/views.py
Due: make lint-html, make lint-py

refactor: use djang-webpack-loader to allow code splitting for smaller bundle size
  .gitignore
  Dockerfile.prod
  package-lock.json
  package.json
  pyproject.toml
  uv.lock
  webpack.common.js
  webpack.prod.js
  wine_cellar/apps/storage/templates/stock_add.html
  wine_cellar/apps/storage/templates/storage_create.html
  wine_cellar/apps/storage/templates/storage_detail.html
  wine_cellar/apps/storage/templates/storage_edit.html
  wine_cellar/apps/user/templates/settings.html
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/apps/wine/templates/wine_edit.html
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/apps/wine/templates/wine_map.html
  wine_cellar/apps/wine/templates/wine_scan.html
  wine_cellar/apps/wine/templates/wine_upload_ai.html
  wine_cellar/apps/wine/widgets.py
  wine_cellar/conf/docker_dev_settings.py
  wine_cellar/conf/docker_settings.py
  wine_cellar/conf/settings.py
  wine_cellar/react/maps/AddMarkerControl.tsx
  wine_cellar/templates/base.html
Due: eslint, make lint-html, make lint-py

refactor: store ai upload data in cache instead of a get parameter
  tests/wine/test_serializers.py
  tests/wine/test_views_ai.py
  tests/wine/test_views_create.py
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/serializers.py
  wine_cellar/apps/wine/templates/wine_choose_action.html
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/views.py
  wine_cellar/conf/docker_dev_settings.py
  wine_cellar/conf/docker_settings.py
  wine_cellar/conf/settings.py
Due: make lint-html, make lint-py

fix: docker dev setup
  .env.dev-sample
  Makefile
  docs/development/setup.md
Due: none

feat: improve AI workflow
  tests/wine/test_serializers.py
  tests/wine/test_views_ai.py
  tests/wine/test_views_create.py
  webpack.common.js
  wine_cellar/apps/wine/serializers.py
  wine_cellar/apps/wine/tasks.py
  wine_cellar/apps/wine/templates/wine_upload_ai_status.html
  wine_cellar/apps/wine/utils.py
  wine_cellar/apps/wine/views.py
  wine_cellar/assets/css/spinner.css
  wine_cellar/assets/js/ai_upload_status.ts
  wine_cellar/conf/dev.py
  wine_cellar/conf/docker_dev_settings.py
  wine_cellar/conf/urls.py
Due: eslint, make lint-html, make lint-py

refactor: make whole ai upload workflow async
  tests/wine/test_views_ai.py
  tests/wine/test_views_create.py
  webpack.common.js
  wine_cellar/apps/wine/templates/wine_upload_ai.html
  wine_cellar/apps/wine/templates/wine_upload_ai_status.html
  wine_cellar/apps/wine/views.py
  wine_cellar/assets/js/ai_upload_status.ts
  wine_cellar/assets/js/wine_upload_ai.ts
  wine_cellar/conf/urls.py
Due: eslint, make lint-html, make lint-py

fix: make slow litellm import local
  uv.lock
  wine_cellar/apps/wine/tasks.py
Due: make lint-py

feat: improve storage view with new features
  tests/conftest.py
  tests/storage/test_models.py
  tests/storage/test_views.py
  tests/storage/test_views_labels.py
  tests/wine/test_views_ai.py
  tests/wine/test_views_create.py
  wine_cellar/apps/storage/admin.py
  wine_cellar/apps/storage/forms.py
  wine_cellar/apps/storage/migrations/0006_storage_column_labels_enabled_and_more.py
  wine_cellar/apps/storage/models.py
  wine_cellar/apps/storage/templates/storage_create.html
  wine_cellar/apps/storage/templates/storage_detail.html
  wine_cellar/apps/storage/templates/storage_labels.html
  wine_cellar/apps/storage/tests/factories.py
  wine_cellar/apps/storage/views.py
  wine_cellar/assets/css/button.css
  wine_cellar/assets/css/detail.css
  wine_cellar/conf/urls.py
Due: make lint-html, make lint-py

test: add a set of end to end tests using playwright
  .gitignore
  Makefile
  pyproject.toml
  tests/e2e/conftest.py
  tests/e2e/test_auth.py
  tests/e2e/test_homepage_dashboard.py
  tests/e2e/test_map_widgets.py
  tests/e2e/test_navigation.py
  tests/e2e/test_smoke.py
  tests/e2e/test_stock_add_edit.py
  tests/e2e/test_stock_drag_swap.py
  tests/e2e/test_stock_lifecycle_and_history.py
  tests/e2e/test_storage_crud_and_grid.py
  tests/e2e/test_storage_labels.py
  tests/e2e/test_user_settings.py
  tests/e2e/test_wine_detail.py
  tests/e2e/test_wine_edit_delete.py
  tests/e2e/test_wine_list_filters.py
  tests/e2e/test_wine_scan_and_ai_disabled.py
  tests/e2e/test_wine_wizard_create.py
  uv.lock
Due: make lint-py

fix: multiple ui issues
  tests/e2e/test_stock_add_edit.py
  tests/e2e/test_wine_wizard_create.py
  wine_cellar/apps/storage/views.py
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/templates/wine_edit.html
Due: make lint-html, make lint-py

fix: some biome linting errors
  wine_cellar/assets/css/detail.css
  wine_cellar/assets/css/forms.css
  wine_cellar/assets/images/bottle.svg
  wine_cellar/assets/images/favicon.svg
  wine_cellar/assets/images/map_pin.svg
Due: none

fix: update translations
  locale/de_DE/LC_MESSAGES/django.po
  locale/de_DE/LC_MESSAGES/djangojs.po
  locale/en_GB/LC_MESSAGES/django.po
  locale/en_GB/LC_MESSAGES/djangojs.po
  locale/fr_FR/LC_MESSAGES/django.po
  locale/fr_FR/LC_MESSAGES/djangojs.po
Due: none

feat: add initial swedish translation
  locale/de_DE/LC_MESSAGES/django.po
  locale/fr_FR/LC_MESSAGES/django.po
  locale/sv_SE/LC_MESSAGES/django.po
  locale/sv_SE/LC_MESSAGES/djangojs.po
  wine_cellar/apps/user/migrations/0005_alter_usersettings_language.py
  wine_cellar/conf/settings.py
Due: make lint-py

Path conditions:
  eslint: any of: *.{js,jsx}
  make lint-html: any of: *.html
  make lint-py: any of: *.py
