Repository the-broke-sommeliers/wine-cellar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, make lint-html, make lint-py

feat(lang): add french translation
  locale/fr_FR/LC_MESSAGES/djangojs.po
Due: none

feat(lang): add french translation
  locale/fr_FR/LC_MESSAGES/django.po
Due: none

chore: update translations
  locale/de_DE/LC_MESSAGES/django.po
  locale/de_DE/LC_MESSAGES/djangojs.po
  locale/en_GB/LC_MESSAGES/django.po
  locale/en_GB/LC_MESSAGES/djangojs.po
  locale/fr_FR/LC_MESSAGES/django.po
  locale/fr_FR/LC_MESSAGES/djangojs.po
Due: none

fix(translations): ignore static files dir and add extensions for js translations
  Makefile
Due: none

feat(language): enable french
  wine_cellar/apps/user/migrations/0004_alter_usersettings_language.py
  wine_cellar/conf/settings.py
Due: make lint-py

chore: fix french plural to make transifex happy
  locale/fr_FR/LC_MESSAGES/django.po
Due: none

fix(translations): auto remove fuzzy translations
  Makefile
  locale/de_DE/LC_MESSAGES/django.po
  locale/en_GB/LC_MESSAGES/django.po
  locale/fr_FR/LC_MESSAGES/django.po
Due: none

docs: update version in docs
  docs/setup/deployment.md
Due: none

chore(deps): replace mkdocs with zensical
  requirements/dev.txt
Due: none

docs: auto update version in docs
  docs/setup/deployment.md
  docs/version.txt
  pyproject.toml
  zensical.toml
Due: none

docs(backup): add backup instructions and podman commands
  docs/setup/backups.md
  docs/setup/deployment.md
  zensical.toml
Due: none

docs(translations): add translation info
  README.md
Due: none

feat(stock): add edit view for items in stock
  tests/storage/test_views.py
  wine_cellar/apps/storage/forms.py
  wine_cellar/apps/storage/templates/storage_detail.html
  wine_cellar/apps/storage/views.py
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/conf/urls.py
Due: make lint-html, make lint-py

fix: only import debug toolbar if installed
  wine_cellar/conf/urls.py
Due: make lint-py

fix(docker): fix permission issue with selinux
  entrypoint.prod.sh
Due: none

feat(wine): add option to use ai to extract data from wine label
  .env.prod-sample
  .gitignore
  docs/setup/deployment.md
  requirements/base.txt
  tests/conftest.py
  tests/test_fields.py
  tests/test_serializers.py
  tests/test_utils.py
  wine_cellar/apps/wine/fields.py
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/serializers.py
  wine_cellar/apps/wine/templates/wine_choose_action.html
  wine_cellar/apps/wine/templates/wine_upload_ai.html
  wine_cellar/apps/wine/utils.py
  wine_cellar/apps/wine/views.py
  wine_cellar/assets/js/init_tom_select.ts
  wine_cellar/conf/dev.py
  wine_cellar/conf/docker_settings.py
  wine_cellar/conf/urls.py
  wine_cellar/templates/base.html
Due: make lint-html, make lint-py

docs: add section on adding users, fix development setup
  docs/development/setup.md
  docs/setup/deployment.md
  docs/usage/users.md
  zensical.toml
Due: none

fix(registration): require email verification on signup
  wine_cellar/conf/settings.py
Due: make lint-py

fix: only enforce email validation when signup is enabled
  docs/usage/users.md
  wine_cellar/conf/docker_settings.py
  wine_cellar/conf/settings.py
Due: make lint-py

docs: add sso documentation
  docs/setup/deployment.md
  docs/setup/sso.md
  zensical.toml
Due: none

refactor: move Caddyfile into docker compose to avoid file dependency
  caddy/Caddyfile
  docker-compose.prod.yml
Due: none

Path conditions:
  eslint: any of: *.{js,jsx}
  make lint-html: any of: *.html
  make lint-py: any of: *.py
