Repository the-broke-sommeliers/wine-cellar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, make lint-html, make lint-py

.lintstagedrc.json:

{
   "*.{js,jsx}": [
     "eslint"
   ],
   "*.html": [
     "make lint-html"
   ],
   "*.py": [
     "make lint-py"
   ]
}

remove background removal feature for now
  requirements.txt
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/views.py
  wine_cellar/assets/css/forms.css
Due: make lint-html, make lint-py

move requirements into base.txt and prod.txt
  requirements.txt
  requirements/base.txt
  requirements/prod.txt
Due: none

fix some issues with the dockerfile
  Dockerfile
  wine_cellar/conf/docker_settings.py
Due: make lint-py

Dockerfile: fix deprecated env variables
  Dockerfile
Due: none

add option to scan barcode
  package.json
  webpack.common.js
  wine_cellar/apps/wine/admin.py
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/migrations/0004_wine_barcode.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/templates/scan_wine.html
  wine_cellar/apps/wine/templates/scanned_wine.html
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/views.py
  wine_cellar/assets/css/scan.css
  wine_cellar/assets/css/styles.css
  wine_cellar/conf/urls.py
  wine_cellar/react/react_bar_code.jsx
  wine_cellar/templates/base.html
Due: eslint, make lint-html, make lint-py

assets: update styling and add individual component files and update classes in templates
  webpack.common.js
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/templates/scanned_wine.html
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/apps/wine/templates/wine_edit.html
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/assets/css/button.css
  wine_cellar/assets/css/detail.css
  wine_cellar/assets/css/forms.css
  wine_cellar/assets/css/image.css
  wine_cellar/assets/css/menu.css
  wine_cellar/assets/css/scan.css
  wine_cellar/assets/css/styles.css
  wine_cellar/templates/registration/login.html
  wine_cellar/templates/registration/logout.html
Due: eslint, make lint-html, make lint-py

footer: update footer stylöe so no float issue
  wine_cellar/assets/css/page-layout.css
  wine_cellar/assets/css/styles.css
  wine_cellar/templates/base.html
Due: make lint-html

add initial docker-prod config
  .env.prod-sample
  .env.prod.db-sample
  README.md
  docker-compose.prod.yml
  entrypoint.prod.sh
  entrypoint.sh
  nginx/Dockerfile
  nginx/nginx.conf
  wine_cellar/conf/docker_settings.py
Due: make lint-py

release v0.0.3
  CHANGELOG.md
Due: none

add initial docker-prod config
  .env.prod-sample
  .env.prod.db-sample
  README.md
  docker-compose.prod.yml
  entrypoint.prod.sh
  nginx/Dockerfile
  nginx/nginx.conf
  wine_cellar/conf/docker_settings.py
Due: make lint-py

add initial docker-prod config
  .env.prod-sample
  .env.prod.db-sample
  Dockerfile.prod
  README.md
  docker-compose.prod.yml
  entrypoint.prod.sh
  nginx/Dockerfile
  nginx/nginx.conf
  wine_cellar/conf/docker_settings.py
Due: make lint-py

update dockerignore and gitignore
  .dockerignore
  .gitignore
Due: none

release v0.0.3
  CHANGELOG.md
  wine_cellar/__init__.py
Due: make lint-py

update lint rules and fix errors
  eslint.config.mjs
  package.json
  wine_cellar/apps/wine/admin.py
  wine_cellar/apps/wine/views.py
  wine_cellar/assets/js/init_tom_select.ts
  wine_cellar/conf/docker_settings.py
  wine_cellar/conf/settings.py
  wine_cellar/conf/test.py
Due: make lint-py

disable footer for now
  wine_cellar/templates/base.html
Due: make lint-html

release v0.0.4
  CHANGELOG.md
  wine_cellar/__init__.py
Due: make lint-py

release v0.0.4
  CHANGELOG.md
  docker-compose.prod.yml
  wine_cellar/__init__.py
Due: make lint-py

add DJANGO_CSRF_TRUSTED_ORIGINS to docker env
  .env.prod-sample
  wine_cellar/conf/docker_settings.py
Due: make lint-py

assets/*: fix footer and update login fixes #74
  wine_cellar/assets/css/page-layout.css
  wine_cellar/assets/css/styles.css
  wine_cellar/templates/base.html
  wine_cellar/templates/registration/login.html
Due: make lint-html

fix menu on small screen fixes #75
  wine_cellar/assets/css/card.css
  wine_cellar/assets/css/menu.css
  wine_cellar/templates/base.html
Due: make lint-html

wine_card: adjusting card sizing on different screen sizes
  wine_cellar/apps/wine/templates/wine_card.html
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/assets/css/card.css
Due: make lint-html

split up readme into docs and use mkdocs
  .github/workflows/docs.yml
  docs/README.md
  docs/deployment.md
  docs/logo.svg
  docs/setup.md
  docs/testing.md
  mkdocs.yml
  requirements.txt
  requirements/dev.txt
Due: none

docker:replace nginx with caddy and add a docker compose file for a standalone setup
  caddy/Caddyfile
  docker-compose.prod.full.yml
  entrypoint.prod.sh
  nginx/Dockerfile
  nginx/nginx.conf
Due: none
