Repository the-broke-sommeliers/wine-cellar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, make lint-html, make lint-py

.lintstagedrc.json:

{
   "*.{js,jsx}": [
     "eslint"
   ],
   "*.html": [
     "make lint-html"
   ],
   "*.py": [
     "make lint-py"
   ]
}

mkdocs: add missing md plugin
  mkdocs.yml
Due: none

wine_cellar/react: fix barcode scanning not forwarding with the correct value
  wine_cellar/react/react_bar_code.jsx
Due: eslint

renovate: auto-merge minor and patch
  renovate.json
Due: none

add github actions ci
  .github/workflows/ci.yml
Due: none

renovate: add some more config settings
  renovate.json
Due: none

config: add static folder, cleanup docker settings
  wine_cellar/conf/docker_settings.py
  wine_cellar/conf/settings.py
Due: make lint-py

requirements: refactor python deps
  requirements/base.txt
  requirements/dev.txt
Due: none

release v0.0.5
  CHANGELOG.md
  docker-compose.prod.full.yml
  docker-compose.prod.yml
  wine_cellar/__init__.py
Due: make lint-py

requirements/dev: fix djlint version
  requirements/dev.txt
Due: none

wine_cellar/react: fix barcode scanning not forwarding with the correct value
  wine_cellar/apps/wine/templates/scanned_wine.html
  wine_cellar/react/react_bar_code.jsx
Due: eslint, make lint-html

commit all to check changes
  wine_cellar/apps/wine/templates/forms/form_field.html
  wine_cellar/apps/wine/templates/homepage.html
  wine_cellar/apps/wine/templates/scan_wine.html
  wine_cellar/apps/wine/templates/scanned_wine.html
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/apps/wine/templates/wine_edit.html
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/assets/css/card.css
  wine_cellar/assets/css/detail.css
  wine_cellar/assets/css/forms.css
  wine_cellar/assets/css/image.css
  wine_cellar/assets/css/menu.css
  wine_cellar/assets/css/page-layout.css
  wine_cellar/assets/css/styles.css
  wine_cellar/assets/css/utility.css
  wine_cellar/templates/base.html
  wine_cellar/templates/registration/login.html
Due: make lint-html

unify page title styles and structure, remove obsolete styles and use header landmark tag for nav according to guidlines
  wine_cellar/apps/wine/templates/homepage.html
  wine_cellar/apps/wine/templates/scan_wine.html
  wine_cellar/apps/wine/templates/scanned_wine.html
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/apps/wine/templates/wine_edit.html
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/assets/css/detail.css
  wine_cellar/assets/css/forms.css
  wine_cellar/assets/css/page-layout.css
  wine_cellar/templates/base.html
  wine_cellar/templates/registration/login.html
Due: make lint-html

forms: add more semantic elements to form field and style
  wine_cellar/apps/wine/templates/forms/form_field.html
  wine_cellar/assets/css/forms.css
  wine_cellar/assets/css/utility.css
Due: make lint-html

removed stat-conatiner div and styling as unified header negates the need
  wine_cellar/apps/wine/templates/homepage.html
  wine_cellar/apps/wine/templates/scan_wine.html
  wine_cellar/assets/css/homepage.css
  wine_cellar/assets/css/page-layout.css
Due: make lint-html

scan_wine: add styling to ensure a 1:1 aspect ratio of wine scan video, looks small on large screens currently dues to flex issue
  wine_cellar/apps/wine/templates/scan_wine.html
  wine_cellar/assets/css/forms.css
Due: make lint-html

fix column width issue by remove the flex styling for footer positioning and adding position absolute, unifying form widths and restucturing and styling base.html
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/templates/wine_edit.html
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/assets/css/page-layout.css
  wine_cellar/assets/css/styles.css
  wine_cellar/templates/base.html
  wine_cellar/templates/registration/login.html
Due: make lint-html

pagination: fix centering issue and colour
  wine_cellar/assets/css/page-layout.css
Due: none

adding summary detail element to hide filters on small screens
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/assets/css/card.css
  wine_cellar/assets/css/forms.css
Due: make lint-html

Edit mobile menu to be proper header with app name and link
  wine_cellar/assets/css/menu.css
  wine_cellar/templates/base.html
Due: make lint-html

add additional styling for different button states
  wine_cellar/assets/css/button.css
  wine_cellar/assets/css/styles.css
Due: none

fix vertical-align for filter button
  wine_cellar/assets/css/forms.css
Due: none
