Repository the-broke-sommeliers/wine-cellar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, make lint-html, make lint-py

.lintstagedrc.json:

{
   "*.{js,jsx}": [
     "eslint"
   ],
   "*.html": [
     "make lint-html"
   ],
   "*.py": [
     "make lint-py"
   ]
}

fix: image upload not working as intended
  wine_cellar/apps/wine/views.py
Due: make lint-py

fix(ai): dynamically construct values for wine type and category
  wine_cellar/apps/wine/serializers.py
  wine_cellar/apps/wine/views.py
Due: make lint-py

refactor(forms): improve view structure for adding a new wine
  tests/test_views.py
  wine_cellar/apps/wine/templates/wine_choose_action.html
  wine_cellar/apps/wine/templates/wine_scan.html
  wine_cellar/apps/wine/templates/wine_scanned.html
  wine_cellar/apps/wine/views.py
  wine_cellar/assets/css/forms.css
  wine_cellar/conf/urls.py
Due: make lint-html, make lint-py

feat(security): add content security policy
  wine_cellar/conf/settings.py
Due: make lint-py

fix: include purecss locally
  package.json
  webpack.common.js
  wine_cellar/templates/base.html
Due: eslint, make lint-html

fix: adjust csp for maps and image previews
  webpack.common.js
  wine_cellar/assets/js/image_preview.ts
  wine_cellar/conf/settings.py
Due: eslint, make lint-py

chore: add transifex folder to gitignore
  .gitignore
Due: none

feat: add option to scan barcode within add/edit form
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/templates/wine_edit.html
  wine_cellar/assets/css/forms.css
  wine_cellar/react/react_bar_code.tsx
Due: make lint-html, make lint-py

fix(csp): add missing csp for barcode scanner
  wine_cellar/conf/settings.py
Due: make lint-py

Revert "refactor: move Caddyfile into docker compose to avoid file dependency"
  caddy/Caddyfile
  docker-compose.prod.yml
Due: none

fix: Revert "refactor: move Caddyfile into docker compose to avoid file dependency"
  caddy/Caddyfile
  docker-compose.prod.yml
Due: none

fix(storage): fix missing permission check for storage edit page
  tests/storage/test_views.py
  wine_cellar/apps/storage/views.py
Due: make lint-py

downgrade images and ci to python 3.13 to be compatible with litellm
  .github/workflows/ci.yml
  Dockerfile
  Dockerfile.prod
  renovate.json
Due: none

docker-compose: gunicorn set gthread as worker class, add worker and thread count
  docker-compose.prod.yml
Due: none

remove unused eslint packages
  package.json
Due: none

convert js/jsx to typescipt, remove babel
  package.json
  webpack.common.js
  wine_cellar/assets/js/init_tom_select.ts
  wine_cellar/assets/js/stock_add.ts
  wine_cellar/assets/js/tomselect.d.ts
  wine_cellar/react/django.d.ts
  wine_cellar/react/maps/AddMarkerControl.tsx
  wine_cellar/react/maps/ChoosePointMap.tsx
  wine_cellar/react/maps/GeoJsonMarker.js
  wine_cellar/react/maps/GeoJsonMarker.tsx
  wine_cellar/react/maps/ItemPopup.tsx
  wine_cellar/react/maps/Map.tsx
  wine_cellar/react/maps/MapPopup.jsx
  wine_cellar/react/maps/MapPopup.tsx
  wine_cellar/react/maps/MaplibreGlLayer.tsx
  wine_cellar/react/maps/MarkerClusterLayer.tsx
  wine_cellar/react/maps/WineMaps.tsx
  wine_cellar/react/maps/react_choose_point.tsx
Due: eslint

apps/users: make settings menu headings translatable
  wine_cellar/apps/user/forms.py
Due: make lint-py

docker development: create translations on container start
  entrypoint.sh
Due: none

chore: replace eslint and pretteir with biome
  .lintstagedrc.json
  biome.json
  eslint.config.mjs
  package.json
  prettier.config.mjs
  tsconfig.json
  wine_cellar/assets/css/button.css
  wine_cellar/assets/css/card.css
  wine_cellar/assets/css/forms.css
  wine_cellar/assets/css/menu.css
  wine_cellar/assets/css/page-layout.css
  wine_cellar/assets/css/styles.css
  wine_cellar/assets/css/utility.css
  wine_cellar/assets/js/image_preview.ts
  wine_cellar/assets/js/init_tom_select.ts
  wine_cellar/assets/js/stock_add.ts
  wine_cellar/assets/js/wine_carousel.ts
  wine_cellar/react/django.d.ts
  wine_cellar/react/maps/AddMarkerControl.tsx
  wine_cellar/react/maps/ChoosePointMap.tsx
  wine_cellar/react/maps/GeoJsonMarker.tsx
  wine_cellar/react/maps/ItemPopup.tsx
  wine_cellar/react/maps/Map.tsx
  wine_cellar/react/maps/MapPopup.tsx
  wine_cellar/react/maps/MaplibreGlLayer.tsx
  wine_cellar/react/maps/MarkerClusterLayer.tsx
  wine_cellar/react/maps/WineMaps.tsx
  wine_cellar/react/maps/ZoomToMarkers.tsx
  wine_cellar/react/maps/country.json
  wine_cellar/react/maps/react_choose_point.tsx
  wine_cellar/react/maps/react_maps.tsx
  wine_cellar/react/react_bar_code.tsx
Due: none

fix: add more missing translations
  wine_cellar/apps/storage/forms.py
  wine_cellar/apps/storage/views.py
  wine_cellar/apps/wine/filters.py
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/templates/wine_card.html
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/views.py
Due: make lint-html, make lint-py

chore: update po files
  locale/de_DE/LC_MESSAGES/django.po
  locale/de_DE/LC_MESSAGES/djangojs.po
  locale/en_GB/LC_MESSAGES/django.po
  locale/en_GB/LC_MESSAGES/djangojs.po
  locale/fr_FR/LC_MESSAGES/django.po
  locale/fr_FR/LC_MESSAGES/djangojs.po
Due: none
