Repository the-broke-sommeliers/wine-cellar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, make lint-html, make lint-py

.lintstagedrc.json:

{
   "*.{js,jsx}": [
     "eslint"
   ],
   "*.html": [
     "make lint-html"
   ],
   "*.py": [
     "make lint-py"
   ]
}

wip
  package-lock.json
  requirements.txt
  wine_cellar/apps/wine/management/commands/import.py
  wine_cellar/apps/wine/migrations/0001_initial.py
  wine_cellar/apps/wine/models.py
  wine_cellar/templates/base.html
Due: make lint-html, make lint-py

add pagination to wine list + some small fixes
  wine_cellar/apps/user/templates/settings.html
  wine_cellar/apps/user/templates/user_profile.html
  wine_cellar/apps/wine/filters.py
  wine_cellar/apps/wine/serializers.py
  wine_cellar/apps/wine/templates/forms/form_field.html
  wine_cellar/apps/wine/templates/wine_card.html
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/apps/wine/templates/wine_edit.html
  wine_cellar/apps/wine/templates/wine_filter_field.html
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/apps/wine/templates/wine_remote_search.html
  wine_cellar/apps/wine/templates/wine_search.html
  wine_cellar/apps/wine/views.py
  wine_cellar/apps/wine/viewsets.py
  wine_cellar/assets/css/page-layout.css
  wine_cellar/templates/base.html
  wine_cellar/templates/registration/login.html
  wine_cellar/templates/registration/logout.html
Due: make lint-html, make lint-py

fix form losing tom_select choices on form error, make tom_select field initialization simpler
  wine_cellar/apps/wine/forms.py
  wine_cellar/assets/js/init_tom_select.js
Due: eslint, make lint-py

fix menu icon not showing on mobile
  wine_cellar/assets/css/menu.css
  wine_cellar/templates/base.html
Due: make lint-html

add prettier for js/css formating
  .eslintrc.js
  eslint.config.js
  package-lock.json
  package.json
  prettier.config.js
  wine_cellar/assets/css/card.css
  wine_cellar/assets/css/detail.css
  wine_cellar/assets/css/forms.css
  wine_cellar/assets/css/menu.css
  wine_cellar/assets/css/page-layout.css
  wine_cellar/assets/css/styles.css
  wine_cellar/assets/css/utility.css
  wine_cellar/assets/js/init_tom_select.js
Due: eslint

package.json: remove type module
  package.json
  prettier.config.mjs
Due: none

change pagination to 10
  wine_cellar/apps/wine/views.py
Due: make lint-py

detail_page: improve image width settings
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/assets/css/detail.css
Due: make lint-html

README: update readme with the make commands
  README.md
Due: none

Add Typescript and update select function
  eslint.config.js
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig.json
  webpack.common.js
  wine_cellar/assets/js/init_tom_select.js
  wine_cellar/assets/js/init_tom_select.ts
Due: eslint

simplify WineCreateView, require login for WineDetailView
  wine_cellar/apps/wine/views.py
Due: make lint-py

add source field to store where a wine was bought from
  wine_cellar/apps/wine/filters.py
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/migrations/0002_source_source_unique_source_wine_source.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/serializers.py
  wine_cellar/apps/wine/views.py
Due: make lint-py

fixtures: create user fixture and add to make file and format categories fixture
  Makefile
  fixtures/classification.json
  fixtures/user.json
Due: none

add winery to form, make vintage optional
  wine_cellar/apps/wine/filters.py
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/migrations/0003_remove_wine_region_alter_winery_region_and_more.py
  wine_cellar/apps/wine/models.py
Due: make lint-py

forms.py: reorder and relabel form fields for better readability, models: rm required on abv with migration
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/migrations/0004_alter_wine_abv.py
  wine_cellar/apps/wine/models.py
Due: make lint-py

wine_list, wine_filter: updating layout and adding some styling
  wine_cellar/apps/wine/templates/wine_filter_field.html
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/assets/css/card.css
  wine_cellar/assets/css/page-layout.css
  wine_cellar/assets/css/styles.css
Due: make lint-html

fix problem with mono select, fix max_options tom config not working
  wine_cellar/apps/wine/fields.py
  wine_cellar/apps/wine/forms.py
Due: make lint-py

ai created readme
  README.md
Due: none

update dependencies
  package-lock.json
  requirements.txt
Due: none

fix user fixture password and change name to admin
  fixtures/user.json
Due: none

rename winery to vineyard and fix some small issues
  wine_cellar/apps/wine/filters.py
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/migrations/0001_initial.py
  wine_cellar/apps/wine/migrations/0002_source_source_unique_source_wine_source.py
  wine_cellar/apps/wine/migrations/0003_remove_wine_region_alter_winery_region_and_more.py
  wine_cellar/apps/wine/migrations/0004_alter_wine_abv.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/serializers.py
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/apps/wine/views.py
  wine_cellar/apps/wine/viewsets.py
Due: make lint-html, make lint-py

fix tests
  tests/conftest.py
  tests/test_views.py
  tests/test_wine_model.py
  wine_cellar/apps/wine/tests/factories.py
  wine_cellar/conf/settings.py
Due: make lint-py

Implement the wine create form as a very simple, js-free multistep form
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/views.py
  wine_cellar/assets/css/utility.css
Due: make lint-html, make lint-py

forms: add validators to abv field
  wine_cellar/apps/wine/forms.py
Due: make lint-py

fix fontawesome icons not loading
  webpack.common.js
Due: eslint

fix order in wine creation and fix wrong template for editing a wine
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/templates/wine_edit.html
  wine_cellar/apps/wine/views.py
Due: make lint-html, make lint-py

delete existing image if new one is uploaded, fix error in wine edit form
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/views.py
Due: make lint-py

update wine detail, remove sidebar and replace with top menu, remove generic pages header-to be worked on more
  wine_cellar/apps/wine/templates/wine_card.html
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/apps/wine/templates/wine_edit.html
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/assets/css/card.css
  wine_cellar/assets/css/detail.css
  wine_cellar/assets/css/menu.css
  wine_cellar/assets/css/page-layout.css
  wine_cellar/templates/base.html
  wine_cellar/templates/registration/login.html
Due: make lint-html

add initial landing page with some statistics
  webpack.common.js
  wine_cellar/apps/wine/templates/homepage.html
  wine_cellar/apps/wine/views.py
  wine_cellar/assets/css/homepage.css
  wine_cellar/assets/css/styles.css
Due: eslint, make lint-html, make lint-py

change user email in fixture
  fixtures/user.json
Due: none

wine detail view: add some minor fixes
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/assets/css/detail.css
Due: make lint-html

base.html: remove unused stuff
  wine_cellar/templates/base.html
Due: make lint-html

fix tests, remove more dead code
  tests/test_views.py
  wine_cellar/apps/wine/serializers.py
  wine_cellar/apps/wine/templates/wine_remote_search.html
  wine_cellar/apps/wine/templates/wine_search.html
  wine_cellar/apps/wine/tests.py
  wine_cellar/apps/wine/views.py
  wine_cellar/apps/wine/viewsets.py
  wine_cellar/conf/urls.py
Due: make lint-html, make lint-py

homepage: account for vintage being null
  wine_cellar/apps/wine/views.py
Due: make lint-py

homepage: change order of stats
  wine_cellar/apps/wine/templates/homepage.html
Due: make lint-html

fix some more form issues, replace required * with (optional)
  wine_cellar/apps/wine/templates/forms/form_field.html
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/assets/css/detail.css
  wine_cellar/assets/css/forms.css
  wine_cellar/assets/css/homepage.css
  wine_cellar/assets/css/menu.css
  wine_cellar/assets/css/page-layout.css
  wine_cellar/assets/css/utility.css
Due: make lint-html

create_form: fix margin between label and hint
  wine_cellar/assets/css/forms.css
Due: none

style fixes, update filter elements
  wine_cellar/apps/wine/filters.py
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/templates/homepage.html
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/apps/wine/templates/wine_filter_field.html
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/assets/css/card.css
  wine_cellar/assets/css/detail.css
  wine_cellar/assets/css/forms.css
  wine_cellar/assets/css/homepage.css
  wine_cellar/assets/css/page-layout.css
  wine_cellar/templates/base.html
  wine_cellar/templates/registration/login.html
Due: make lint-html, make lint-py

remove commented out code
  wine_cellar/assets/css/page-layout.css
  wine_cellar/assets/css/styles.css
Due: none

improve filter behavior on wine list page
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/templates/homepage.html
  wine_cellar/apps/wine/templates/wine_filter_field.html
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/assets/css/forms.css
Due: make lint-html, make lint-py
