Repository the-broke-sommeliers/wine-cellar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, make lint-html, make lint-py

.lintstagedrc.json:

{
   "*.{js,jsx}": [
     "eslint"
   ],
   "*.html": [
     "make lint-html"
   ],
   "*.py": [
     "make lint-py"
   ]
}

fix(docker): fail to start if a migration fails
  entrypoint.prod.sh
Due: none

fix: couple of small issues/improvements
  entrypoint.prod.sh
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/signals.py
  wine_cellar/apps/wine/utils.py
  wine_cellar/apps/wine/views.py
  wine_cellar/conf/settings.py
Due: make lint-py

feat: the ai assisted wine adding flow now checks and warns for duplicates
  tests/e2e/test_wine_ai_existing_match.py
  tests/storage/test_views.py
  tests/storage/test_views_history.py
  tests/storage/test_views_labels.py
  tests/user/test_whats_new.py
  tests/wine/test_views_ai.py
  tests/wine/test_views_crud.py
  tests/wine/test_views_list.py
  wine_cellar/apps/user/whats_new.py
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/templates/wine_ai_existing_match.html
  wine_cellar/apps/wine/views.py
  wine_cellar/conf/test.py
  wine_cellar/conf/urls.py
Due: make lint-html, make lint-py

tests: disable migration tests by default
  Makefile
  pyproject.toml
  tests/wine/test_migrate_vintage_data.py
Due: make lint-py

fix: improve duplicate detection, use case insensitive name check
  tests/e2e/test_wine_scan_and_ai_disabled.py
  tests/wine/test_views_ai.py
  wine_cellar/apps/wine/templates/wine_ai_existing_match.html
  wine_cellar/apps/wine/views.py
Due: make lint-html, make lint-py

sharing
  docs/development/cellar-sharing-design.md
Due: none

feat: add additional food pairing and wine tpe tools to mcp server
  mcp_server/server.py
Due: make lint-py

review fixes: optimised querys and updated type function
  mcp_server/server.py
Due: make lint-py

feat: add mcp server for connection to claude desktop ect.
  mcp_server/__init__.py
  mcp_server/server.py
  pyproject.toml
Due: make lint-py
