Repository the-broke-sommeliers/wine-cellar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, make lint-html, make lint-py

.lintstagedrc.json:

{
   "*.{js,jsx}": [
     "eslint"
   ],
   "*.html": [
     "make lint-html"
   ],
   "*.py": [
     "make lint-py"
   ]
}

feat: migrate to Django 6.1
  tests/storage/test_models.py
  tests/wine/test_models.py
  wine_cellar/apps/storage/models.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/tasks.py
  wine_cellar/conf/docker_dev_settings.py
  wine_cellar/conf/docker_settings.py
  wine_cellar/conf/settings.py
Due: make lint-py

tests: add query count check, fix date issue
  tests/storage/test_models.py
  tests/storage/test_views.py
  tests/storage/test_views_consume.py
  tests/storage/test_views_history.py
  tests/storage/test_views_labels.py
  tests/storage/test_views_open.py
  tests/storage/test_views_stock.py
  tests/storage/test_views_swap.py
  tests/storage/test_views_undo_open.py
  tests/user/test_views.py
  tests/wine/test_fields.py
  tests/wine/test_models.py
  tests/wine/test_serializers.py
  tests/wine/test_tasks.py
  tests/wine/test_utils.py
  tests/wine/test_views_ai.py
  tests/wine/test_views_create.py
  tests/wine/test_views_crud.py
  tests/wine/test_views_home.py
  tests/wine/test_views_list.py
  tests/wine/test_views_misc.py
  wine_cellar/apps/storage/views.py
  wine_cellar/apps/wine/tasks.py
Due: make lint-py

fix: some inefficient database queries
  tests/storage/test_views_consume.py
  tests/storage/test_views_history.py
  tests/storage/test_views_open.py
  tests/storage/test_views_stock.py
  tests/storage/test_views_undo_open.py
  tests/wine/test_models.py
  tests/wine/test_utils.py
  tests/wine/test_views_create.py
  tests/wine/test_views_crud.py
  tests/wine/test_views_list.py
  wine_cellar/apps/storage/models.py
  wine_cellar/apps/storage/views.py
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/apps/wine/views.py
  wine_cellar/assets/css/forms.css
Due: make lint-html, make lint-py

fix: inline EMAIL_ settings to prevent Django from throwing an error
  wine_cellar/conf/docker_dev_settings.py
  wine_cellar/conf/docker_settings.py
Due: make lint-py

fix: set email tls to False if not set in .env.prod to avoid confusion
  wine_cellar/conf/docker_dev_settings.py
  wine_cellar/conf/docker_settings.py
Due: make lint-py

chore: simplify dependencies, remove unused
  package.json
  webpack.common.js
  wine_cellar/apps/wine/templates/forms/form_field.html
  wine_cellar/apps/wine/templates/wine_filter_field.html
  wine_cellar/apps/wine/templatetags/form_extras.py
  wine_cellar/conf/settings.py
Due: eslint, make lint-html, make lint-py

refactor: replace react barcode scanenr package with local implementation
  package.json
  wine_cellar/assets/css/forms.css
  wine_cellar/react/BarcodeScanner.tsx
  wine_cellar/react/react_bar_code.tsx
Due: none

fix: SSO button styling
  pyproject.toml
  wine_cellar/assets/css/button.css
  wine_cellar/assets/css/forms.css
  wine_cellar/assets/css/styles.css
  wine_cellar/templates/allauth/elements/button.html
  wine_cellar/templates/allauth/elements/field.html
  wine_cellar/templates/allauth/elements/provider.html
  wine_cellar/templates/allauth/elements/provider_list.html
Due: make lint-html

fix: size form field not accepting decimal comma
  tests/wine/test_fields.py
  wine_cellar/apps/wine/fields.py
  wine_cellar/apps/wine/forms.py
Due: make lint-py

fix: button labels
  webpack.common.js
  wine_cellar/assets/css/detail.css
Due: eslint

feat: introduce a what's changed screen
  .env.prod-sample
  tests/conftest.py
  tests/storage/test_views.py
  tests/storage/test_views_consume.py
  tests/storage/test_views_history.py
  tests/storage/test_views_labels.py
  tests/storage/test_views_open.py
  tests/storage/test_views_stock.py
  tests/storage/test_views_undo_open.py
  tests/user/test_whats_new.py
  tests/wine/test_views_ai.py
  tests/wine/test_views_create.py
  tests/wine/test_views_crud.py
  tests/wine/test_views_list.py
  tests/wine/test_views_misc.py
  webpack.common.js
  wine_cellar/apps/user/context_processors.py
  wine_cellar/apps/user/migrations/0006_usersettings_last_seen_whats_new_version.py
  wine_cellar/apps/user/models.py
  wine_cellar/apps/user/tests/factories.py
  wine_cellar/apps/user/views.py
  wine_cellar/apps/user/whats_new.py
  wine_cellar/assets/css/whats-new.css
  wine_cellar/conf/docker_dev_settings.py
  wine_cellar/conf/docker_settings.py
  wine_cellar/conf/settings.py
  wine_cellar/conf/urls.py
  wine_cellar/templates/base.html
Due: eslint, make lint-html, make lint-py

fix: vintage menu breakpoints
  wine_cellar/assets/css/detail.css
Due: none

fix: filter showing collapsible sign on big screens
  wine_cellar/assets/css/forms.css
Due: none

fix: tom-select shouldn't load deferred
  wine_cellar/apps/storage/templates/stock_add.html
  wine_cellar/apps/storage/templates/storage_create.html
  wine_cellar/apps/storage/templates/storage_edit.html
  wine_cellar/apps/user/templates/settings.html
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/templates/wine_edit.html
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/apps/wine/templates/wine_map.html
Due: make lint-html

feat: add filters to map view
  tests/storage/test_views_consume.py
  tests/storage/test_views_open.py
  tests/storage/test_views_stock.py
  tests/storage/test_views_undo_open.py
  tests/wine/test_utils.py
  tests/wine/test_views_create.py
  tests/wine/test_views_crud.py
  tests/wine/test_views_list.py
  tests/wine/test_views_map.py
  tests/wine/test_views_misc.py
  wine_cellar/apps/user/whats_new.py
  wine_cellar/apps/wine/filters.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/apps/wine/templates/wine_map.html
  wine_cellar/apps/wine/templatetags/react_maps_tags.py
  wine_cellar/apps/wine/utils.py
  wine_cellar/apps/wine/views.py
  wine_cellar/assets/css/forms.css
  wine_cellar/assets/css/map.css
  wine_cellar/assets/images/bottle.svg
  wine_cellar/assets/images/map_pin_out_of_stock.svg
  wine_cellar/conf/urls.py
  wine_cellar/react/maps/AddMarkerControl.tsx
  wine_cellar/react/maps/GeoJsonMarker.tsx
  wine_cellar/react/maps/ItemPopup.tsx
  wine_cellar/react/maps/Map.tsx
  wine_cellar/react/maps/WineMaps.tsx
  wine_cellar/react/maps/useMapFilters.ts
Due: make lint-html, make lint-py

fix: filter buttons misaligned on screens <= 480px
  wine_cellar/assets/css/forms.css
Due: none

tests: only assert queries where it makes sense to reduce test maintenance
  tests/storage/test_models.py
  tests/storage/test_views.py
  tests/storage/test_views_consume.py
  tests/storage/test_views_history.py
  tests/storage/test_views_labels.py
  tests/storage/test_views_open.py
  tests/storage/test_views_stock.py
  tests/storage/test_views_swap.py
  tests/storage/test_views_undo_open.py
  tests/user/test_views.py
  tests/wine/test_fields.py
  tests/wine/test_models.py
  tests/wine/test_serializers.py
  tests/wine/test_utils.py
  tests/wine/test_views_ai.py
  tests/wine/test_views_create.py
  tests/wine/test_views_crud.py
  tests/wine/test_views_home.py
  tests/wine/test_views_list.py
  tests/wine/test_views_map.py
  tests/wine/test_views_misc.py
Due: make lint-py

chore: group renovate updates
  renovate.json
Due: none

feat: add Federweisser as wine type
  tests/wine/test_models.py
  tests/wine/test_serializers.py
  tests/wine/test_views_list.py
  wine_cellar/apps/user/whats_new.py
  wine_cellar/apps/wine/migrations/0022_alter_wine_wine_type.py
  wine_cellar/apps/wine/models.py
Due: make lint-py

chore: update translations
  locale/de_DE/LC_MESSAGES/django.po
  locale/de_DE/LC_MESSAGES/djangojs.po
  locale/en_GB/LC_MESSAGES/django.po
  locale/en_GB/LC_MESSAGES/djangojs.po
  locale/fr_FR/LC_MESSAGES/django.po
  locale/fr_FR/LC_MESSAGES/djangojs.po
  locale/sv_SE/LC_MESSAGES/django.po
  locale/sv_SE/LC_MESSAGES/djangojs.po
Due: none

tests: fix flaky test
  wine_cellar/apps/wine/tests/factories.py
Due: make lint-py
