Repository the-broke-sommeliers/wine-cellar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, make lint-html, make lint-py

add whitenoise to production
  requirements/base.txt
  wine_cellar/conf/docker_settings.py
  wine_cellar/conf/prod.py
  wine_cellar/conf/settings.py
Due: make lint-py

add missing webpack.prod.js and update dockerignore
  .dockerignore
  Dockerfile.prod
  webpack.prod.js
Due: eslint

dockerfile: install gettext
  Dockerfile.prod
Due: none

fix translation creation
  Makefile
  locale/en_GB/LC_MESSAGES/django.po
  locale/en_GB/LC_MESSAGES/djangojs.po
  wine_cellar/conf/settings.py
  wine_cellar/static/images/red_glass2.svg
Due: make lint-py

fix DEBUG env not being picked up correctly
  .env.prod-sample
  wine_cellar/conf/docker_settings.py
Due: make lint-py

Dockerfile: fix caps on RUN command
  Dockerfile.prod
Due: none

add max width to wine cellar
  wine_cellar/assets/css/menu.css
  wine_cellar/templates/base.html
Due: make lint-html

add clear button for filter
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/assets/css/utility.css
Due: make lint-html

add finish and save button and remove continue button from last form page
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/views.py
Due: make lint-html, make lint-py

simplify wine create view
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/views.py
  wine_cellar/assets/css/forms.css
Due: make lint-html, make lint-py

format
  wine_cellar/apps/wine/templates/wine_create.html
Due: make lint-html

release v0.0.6
  CHANGELOG.md
  docker-compose.prod.full.yml
  docker-compose.prod.yml
  wine_cellar/__init__.py
Due: make lint-py

add whitenoise to production
  requirements/base.txt
  webpack.common.js
  wine_cellar/assets/js/index.js.map
  wine_cellar/conf/docker_settings.py
  wine_cellar/conf/prod.py
  wine_cellar/conf/settings.py
Due: eslint, make lint-py

fix Dockerfile not copying webpack static files
  Dockerfile.prod
Due: none

fix barcode scanner wasm not being loaded correctly
  wine_cellar/conf/docker_settings.py
Due: make lint-py

release v0.0.7
  CHANGELOG.md
  docker-compose.prod.full.yml
  docker-compose.prod.yml
  wine_cellar/__init__.py
Due: make lint-py

improve barcode scanner
  eslint.config.mjs
  package.json
  tsconfig.json
  webpack.common.js
  wine_cellar/apps/wine/templates/scan_wine.html
  wine_cellar/assets/css/forms.css
  wine_cellar/react/react_bar_code.jsx
  wine_cellar/react/react_bar_code.tsx
Due: eslint, make lint-html

Path conditions:
  eslint: any of: *.{js,jsx}
  make lint-html: any of: *.html
  make lint-py: any of: *.py
