Repository the-broke-sommeliers/wine-cellar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, make lint-html, make lint-py

add javascript translation view
  wine_cellar/conf/urls.py
  wine_cellar/templates/base.html
Due: make lint-html, make lint-py

improve barcode scanner
  eslint.config.mjs
  package.json
  tsconfig.json
  webpack.common.js
  wine_cellar/apps/wine/templates/scan_wine.html
  wine_cellar/assets/css/forms.css
  wine_cellar/react/react_bar_code.jsx
  wine_cellar/react/react_bar_code.tsx
Due: eslint, make lint-html

add filter to only show wines in stock
  tests/test_views.py
  wine_cellar/apps/wine/filters.py
Due: make lint-py

fix some issues with the dev docker file
  .env.dev-sample
  Dockerfile
  Dockerfile.prod
  docker-compose.yml
Due: none

admin: add user field to user created content
  wine_cellar/apps/wine/admin.py
Due: make lint-py

webpack: fix missing node polyfill after barcode-detector update
  package.json
  webpack.common.js
Due: eslint

homepage.html: add links to cards and format
  wine_cellar/apps/wine/templates/homepage.html
  wine_cellar/assets/css/homepage.css
  wine_cellar/assets/css/utility.css
Due: make lint-html

update links to new repo
  README.md
  docs/README.md
  docs/setup.md
  wine_cellar/templates/base.html
Due: make lint-html

update link for coverage
  README.md
Due: none

update docker links
  docker-compose.prod.full.yml
  docker-compose.prod.yml
Due: none

rename oldest vintage filter
  locale/de_DE/LC_MESSAGES/django.po
  locale/en_GB/LC_MESSAGES/django.po
  wine_cellar/apps/wine/filters.py
Due: make lint-py

add initial german translation
  locale/de_DE/LC_MESSAGES/django.po
  locale/en_GB/LC_MESSAGES/django.po
  wine_cellar/apps/wine/templates/homepage.html
  wine_cellar/apps/wine/templates/wine_detail.html
Due: make lint-html

add user app with settings page, setup translations
  .gitignore
  Makefile
  locale/de_DE/LC_MESSAGES/django.po
  tests/user/__init__.py
  tests/user/test_views.py
  wine_cellar/apps/user/apps.py
  wine_cellar/apps/user/forms.py
  wine_cellar/apps/user/migrations/0001_initial.py
  wine_cellar/apps/user/migrations/__init__.py
  wine_cellar/apps/user/models.py
  wine_cellar/apps/user/templates/settings.html
  wine_cellar/apps/user/views.py
  wine_cellar/conf/settings.py
  wine_cellar/conf/urls.py
  wine_cellar/templates/base.html
Due: make lint-html, make lint-py

fix some wording issues
  locale/de_DE/LC_MESSAGES/django.po
  locale/en_GB/LC_MESSAGES/django.po
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/templates/base.html
Due: make lint-html, make lint-py

add LOCALE_PATH to make translations be picked up
  Makefile
  locale/de_DE/LC_MESSAGES/django.po
  locale/en_GB/LC_MESSAGES/django.po
  wine_cellar/conf/settings.py
Due: make lint-py

release v0.0.8
  CHANGELOG.md
  docker-compose.prod.full.yml
  docker-compose.prod.yml
  wine_cellar/__init__.py
Due: make lint-py

enable proper source maps
  webpack.dev.js
Due: eslint

add missing babel-runtime
  package.json
Due: none

wip
  package.json
  webpack.common.js
  webpack.dev.js
  wine_cellar/apps/wine/templates/wine_map.html
  wine_cellar/apps/wine/templatetags/react_maps_tags.py
  wine_cellar/apps/wine/views.py
  wine_cellar/assets/css/image.css
  wine_cellar/assets/images/map_pin.svg
  wine_cellar/conf/settings.py
  wine_cellar/conf/urls.py
  wine_cellar/react/maps/GeoJsonMarker.js
  wine_cellar/react/maps/ItemPopup.jsx
  wine_cellar/react/maps/Map.jsx
  wine_cellar/react/maps/MapPopup.jsx
  wine_cellar/react/maps/MaplibreGlLayer.js
  wine_cellar/react/maps/MarkerClusterLayer.js
  wine_cellar/react/maps/WineMaps.jsx
  wine_cellar/react/maps/country.json
  wine_cellar/react/maps/country_points.json
  wine_cellar/react/maps/react_maps.tsx
Due: eslint, make lint-html, make lint-py

models: fix some incorrect unique constraints
  wine_cellar/apps/wine/migrations/0006_remove_grape_unique_grape_grape_unique_grape_and_more.py
  wine_cellar/apps/wine/models.py
Due: make lint-py

release v0.0.9
  CHANGELOG.md
  docker-compose.prod.full.yml
  docker-compose.prod.yml
  wine_cellar/__init__.py
Due: make lint-py

Add 'Drink By' field to save a date until a wine should be drunk
  locale/de_DE/LC_MESSAGES/django.po
  locale/en_GB/LC_MESSAGES/django.po
  tests/test_views.py
  wine_cellar/apps/wine/filters.py
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/migrations/0007_wine_drink_by.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/templates/wine_card.html
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/apps/wine/views.py
Due: make lint-html, make lint-py

Path conditions:
  eslint: any of: *.{js,jsx}
  make lint-html: any of: *.html
  make lint-py: any of: *.py
