Repository the-broke-sommeliers/wine-cellar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, make lint-html, make lint-py

.lintstagedrc.json:

{
   "*.{js,jsx}": [
     "eslint"
   ],
   "*.html": [
     "make lint-html"
   ],
   "*.py": [
     "make lint-py"
   ]
}

fix(docker): fix pip not installing optional dependencies
  Dockerfile.prod
Due: none

chore(commitizen): use custom commit parser to include commit body
  CHANGELOG.md.j2
  pyproject.toml
Due: none

chore(changelog): fix changelog template, add start rev
  CHANGELOG.md.j2
  pyproject.toml
Due: none

fix(wine list): fix filtering getting lost on page change
  wine_cellar/apps/wine/templates/includes/pagination.html
Due: make lint-html

fix(wine detail): fix image carousel buttons not working
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/assets/js/wine_carousel.ts
Due: make lint-html, make lint-py

chore(changelog): fix changelog template, add start rev
  .github/workflows/release.yml
  CHANGELOG.md.j2
  CHANGELOG_OLD.md
  pyproject.toml
Due: none

chore(release): require build workflow
  .github/workflows/release.yml
Due: none

fix(wine_card): wrap image in a fixed-size container
  wine_cellar/apps/wine/templates/wine_card.html
  wine_cellar/assets/css/card.css
Due: make lint-html

feat(stock): add option to add the bottle price to a stock item
  tests/test_wine_model.py
  wine_cellar/apps/storage/forms.py
  wine_cellar/apps/storage/migrations/0004_storageitem_price.py
  wine_cellar/apps/storage/models.py
  wine_cellar/apps/storage/templates/stock_add.html
  wine_cellar/apps/storage/views.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/templates/wine_detail.html
Due: make lint-html, make lint-py

feat(wine): add sorting by average price and total value statistic
  tests/test_views.py
  wine_cellar/apps/wine/filters.py
  wine_cellar/apps/wine/templates/homepage.html
  wine_cellar/apps/wine/views.py
Due: make lint-html, make lint-py

fix(stock): make adding a bottle to a previously occupied slot work.
  tests/storage/test_views.py
  wine_cellar/apps/storage/models.py
  wine_cellar/apps/storage/templates/stock_add.html
Due: make lint-html, make lint-py

feat(stats): if a stock item has no price, use the price of the wine
  tests/test_views.py
  wine_cellar/apps/wine/views.py
Due: make lint-py

fix(wine details): order stock items by storage, row, column
  wine_cellar/apps/wine/models.py
Due: make lint-py

Potential fix for code scanning alert no. 1: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: none

fix(docker-dev): don't flush database on start
  entrypoint.sh
Due: none

fix(docker dev): fix hot reload not working, add missing services for full dev setup
  docker-compose.yml
Due: none

build(dev): add dev config and enable debug toolbar properly
  manage.py
  wine_cellar/conf/dev.py
  wine_cellar/conf/urls.py
Due: make lint-py

fix(templates): fix allauth templates not showing errors
  wine_cellar/templates/allauth/elements/field.html
  wine_cellar/templates/allauth/elements/form.html
Due: make lint-html

refactor(templates): remove redundant login template
  wine_cellar/assets/css/forms.css
  wine_cellar/templates/registration/login.html
Due: make lint-html

fix(docker): fix DJANGO_ENABLE_SIGNUPS variable not working as intended
  wine_cellar/conf/docker_settings.py
Due: make lint-py

docs(README): fix typo
  README.md
Due: none

fix(docker-dev): only run migrations in web container
  entrypoint.sh
Due: none

feat(docker-dev): add make command to add sample data for development
  Makefile
  docs/deployment.md
Due: none
