Repository the-broke-sommeliers/wine-cellar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, make lint-html, make lint-py

.lintstagedrc.json:

{
   "*.{js,jsx}": [
     "eslint"
   ],
   "*.html": [
     "make lint-html"
   ],
   "*.py": [
     "make lint-py"
   ]
}

chore: update tsconfig and fix errors:
  .lintstagedrc.json
  fixtures/classification.json
  fixtures/user.json
  fixtures/wines.json
  tsconfig.json
  types/django.d.ts
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
  wine_cellar/assets/js/stock_add.ts
  wine_cellar/react/maps/AddMarkerControl.tsx
  wine_cellar/react/maps/ZoomToMarkers.tsx
  wine_cellar/react/react_bar_code.tsx
Due: eslint

feat: make wine images clickable and open in new tab
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/assets/css/detail.css
  wine_cellar/assets/js/wine_carousel.ts
Due: make lint-html

fix: auto-open barcode scanner on scanning page, some layout fixes
  wine_cellar/apps/wine/templates/wine_scan.html
  wine_cellar/assets/css/forms.css
  wine_cellar/react/react_bar_code.tsx
Due: make lint-html

chore: update gitignore for claude and playwright
  .gitignore
Due: none

fix: some ui inconsistencies
  wine_cellar/assets/css/button.css
  wine_cellar/assets/css/detail.css
  wine_cellar/assets/css/homepage.css
  wine_cellar/assets/css/page-layout.css
Due: none

feat: redesign wine detail page
  wine_cellar/apps/wine/templates/includes/edit_delete_buttons.html
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/assets/css/button.css
  wine_cellar/assets/css/detail.css
Due: make lint-html

feat: make bottles in storage detail view draggable for easier rearranging
  tests/storage/test_views.py
  webpack.common.js
  wine_cellar/apps/storage/templates/storage_detail.html
  wine_cellar/apps/storage/views.py
  wine_cellar/assets/css/detail.css
  wine_cellar/assets/js/stock_drag.ts
  wine_cellar/conf/urls.py
Due: eslint, make lint-html, make lint-py

fix: some wine list ui issues
  wine_cellar/apps/wine/templates/wine_card.html
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/assets/css/card.css
Due: make lint-html

refactor: redesign base forms
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/assets/css/forms.css
Due: make lint-html

refactor: redesign wine create select page
  wine_cellar/apps/wine/templates/wine_choose_action.html
  wine_cellar/assets/css/forms.css
Due: make lint-html

refactor: redesign storage list page
  wine_cellar/apps/storage/templates/storage_list.html
  wine_cellar/assets/css/storage.css
Due: make lint-html

feat: redesign detail map
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/apps/wine/templatetags/react_maps_tags.py
  wine_cellar/assets/css/detail.css
Due: make lint-html, make lint-py

refactor: redesign settings page
  wine_cellar/apps/user/templates/settings.html
  wine_cellar/assets/css/detail.css
  wine_cellar/assets/css/menu.css
  wine_cellar/assets/css/page-layout.css
  wine_cellar/templates/allauth/layouts/manage.html
Due: make lint-html

refactor: redesign map page
  wine_cellar/apps/wine/templates/wine_map.html
  wine_cellar/assets/css/map.css
Due: make lint-html

fix: some form issues
  wine_cellar/assets/css/forms.css
Due: none

refactor: redesign stock history view
  wine_cellar/apps/storage/templates/storage_item_history.html
Due: make lint-html

feat: show a small warning if a wine is close to it's drink by date
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/templates/wine_card.html
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/assets/css/card.css
Due: make lint-html, make lint-py

refactor: redesign barcode scanner ui
  wine_cellar/apps/wine/templates/wine_scan.html
  wine_cellar/assets/css/forms.css
  wine_cellar/react/react_bar_code.tsx
Due: make lint-html

refactor: redesign edit wine page
  wine_cellar/apps/wine/templates/wine_edit.html
Due: make lint-html

refactor: redesign scanned barcode page
  wine_cellar/apps/wine/templates/wine_scanned.html
Due: make lint-html
