Repository the-broke-sommeliers/wine-cellar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, make lint-html, make lint-py

tests: fix flaky test
  wine_cellar/apps/wine/tests/factories.py
Due: make lint-py

chore: update translations
  locale/de_DE/LC_MESSAGES/django.po
  locale/de_DE/LC_MESSAGES/djangojs.po
  locale/en_GB/LC_MESSAGES/django.po
  locale/en_GB/LC_MESSAGES/djangojs.po
  locale/fr_FR/LC_MESSAGES/django.po
  locale/fr_FR/LC_MESSAGES/djangojs.po
  locale/sv_SE/LC_MESSAGES/django.po
  locale/sv_SE/LC_MESSAGES/djangojs.po
Due: none

feat: add Federweisser as wine type
  tests/wine/test_models.py
  tests/wine/test_serializers.py
  tests/wine/test_views_list.py
  wine_cellar/apps/user/whats_new.py
  wine_cellar/apps/wine/migrations/0022_alter_wine_wine_type.py
  wine_cellar/apps/wine/models.py
Due: make lint-py

fix: show vintages on wine card
  tests/wine/test_utils.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/templates/wine_card.html
  wine_cellar/apps/wine/utils.py
Due: make lint-html, make lint-py

fix: broken map on wine detail view
  wine_cellar/assets/css/detail.css
Due: none

feat: add mcp server for connection to claude desktop ect.
  mcp_server/__init__.py
  mcp_server/server.py
  pyproject.toml
Due: make lint-py

feat: add additional food pairing and wine tpe tools to mcp server
  mcp_server/server.py
Due: make lint-py

fix: don't fail if thumbnail generation fails
  tests/helpers.py
  tests/wine/test_utils.py
  tests/wine/test_views_crud.py
  wine_cellar/apps/wine/utils.py
Due: make lint-py

feat: enable proper logging, can be controlled via env
  .env.prod-sample
  wine_cellar/apps/wine/tasks.py
  wine_cellar/apps/wine/views.py
  wine_cellar/conf/settings.py
Due: make lint-py

feat: the ai assisted wine adding flow now checks and warns for duplicates
  tests/e2e/test_wine_ai_existing_match.py
  tests/storage/test_views.py
  tests/storage/test_views_history.py
  tests/storage/test_views_labels.py
  tests/user/test_whats_new.py
  tests/wine/test_views_ai.py
  tests/wine/test_views_crud.py
  tests/wine/test_views_list.py
  wine_cellar/apps/user/whats_new.py
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/templates/wine_ai_existing_match.html
  wine_cellar/apps/wine/views.py
  wine_cellar/conf/test.py
  wine_cellar/conf/urls.py
Due: make lint-html, make lint-py

feat: show the existing wine when trying to add a duplicate in the error message
  tests/e2e/test_wine_wizard_create.py
  tests/wine/test_views_create.py
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/views.py
Due: make lint-html, make lint-py

fix(docker): fail to start if a migration fails
  entrypoint.prod.sh
Due: none

fix: couple of small issues/improvements
  entrypoint.prod.sh
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/signals.py
  wine_cellar/apps/wine/utils.py
  wine_cellar/apps/wine/views.py
  wine_cellar/conf/settings.py
Due: make lint-py

fix: some linter issues
  .gitignore
  tests/e2e/test_wine_list_filters.py
  tests/user/test_whats_new.py
  wine_cellar/apps/wine/views.py
  wine_cellar/react/maps/MaplibreGlLayer.tsx
  wine_cellar/react/maps/MarkerClusterLayer.tsx
  wine_cellar/react/maps/WineMaps.tsx
  wine_cellar/react/maps/leaflet.markercluster.d.ts
Due: make lint-py

fix: make ai image scan prompt more precise
  wine_cellar/apps/wine/tasks.py
Due: make lint-py

fix: improve duplicate detection, use case insensitive name check
  tests/e2e/test_wine_scan_and_ai_disabled.py
  tests/wine/test_views_ai.py
  wine_cellar/apps/wine/templates/wine_ai_existing_match.html
  wine_cellar/apps/wine/views.py
Due: make lint-html, make lint-py

tests: disable migration tests by default
  Makefile
  pyproject.toml
  tests/wine/test_migrate_vintage_data.py
Due: make lint-py

fix: rename duplicate wines which haven't been folded into another wine as vintage
  tests/wine/test_migrate_vintage_data.py
  wine_cellar/apps/wine/migrations/0021_cleanup_wine_vintage_fields.py
Due: make lint-py

bump: version 0.14.1 → 0.14.2
  docs/setup/deployment.md
  pyproject.toml
  wine_cellar/__init__.py
Due: make lint-py

review fixes: optimised querys and updated type function
  mcp_server/server.py
Due: make lint-py

bump: version 0.14.1 → 0.14.2
  CHANGELOG.md
  docs/setup/deployment.md
  pyproject.toml
  uv.lock
  wine_cellar/__init__.py
Due: make lint-py

Path conditions:
  eslint: any of: *.{js,jsx}
  make lint-html: any of: *.html
  make lint-py: any of: *.py
