Repository the-broke-sommeliers/wine-cellar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, make lint-html, make lint-py

.lintstagedrc.json:

{
   "*.{js,jsx}": [
     "eslint"
   ],
   "*.html": [
     "make lint-html"
   ],
   "*.py": [
     "make lint-py"
   ]
}

feat: add back button to wine add form
  tests/test_views.py
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/views.py
  wine_cellar/assets/css/forms.css
Due: make lint-html, make lint-py

refactor: more form redesign
  wine_cellar/apps/wine/templates/widgets/clearable_file_input_no_filename.html
  wine_cellar/assets/css/forms.css
  wine_cellar/assets/js/image_preview.ts
Due: make lint-html

fix: inconsistencies across templates and css
  webpack.common.js
  wine_cellar/apps/storage/templates/stock_add.html
  wine_cellar/apps/storage/templates/storage_confirm_delete.html
  wine_cellar/apps/storage/templates/storage_create.html
  wine_cellar/apps/storage/templates/storage_detail.html
  wine_cellar/apps/storage/templates/storage_edit.html
  wine_cellar/apps/storage/templates/storage_item_confirm_delete.html
  wine_cellar/apps/storage/templates/storage_item_history.html
  wine_cellar/apps/storage/templates/storage_list.html
  wine_cellar/apps/user/templates/settings.html
  wine_cellar/apps/wine/templates/includes/edit_delete_buttons.html
  wine_cellar/apps/wine/templates/wine_card.html
  wine_cellar/apps/wine/templates/wine_confirm_delete.html
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/apps/wine/templates/wine_edit.html
  wine_cellar/apps/wine/templates/wine_map.html
  wine_cellar/apps/wine/templates/wine_scan.html
  wine_cellar/apps/wine/templates/wine_scanned.html
  wine_cellar/apps/wine/templates/wine_upload_ai.html
  wine_cellar/assets/css/button.css
  wine_cellar/assets/css/card.css
  wine_cellar/assets/css/detail.css
  wine_cellar/assets/css/forms.css
  wine_cellar/assets/css/homepage.css
  wine_cellar/assets/css/map.css
  wine_cellar/assets/css/page-layout.css
  wine_cellar/assets/css/storage.css
  wine_cellar/assets/css/styles.css
  wine_cellar/assets/js/stock_drag.ts
  wine_cellar/assets/js/wine_carousel.ts
  wine_cellar/templates/allauth/layouts/manage.html
  wine_cellar/templates/base.html
Due: eslint, make lint-html

fix: disable drag and drop on gridless storage
  wine_cellar/apps/storage/templates/storage_detail.html
Due: make lint-html

chore: update translations
  locale/de_DE/LC_MESSAGES/django.po
  locale/de_DE/LC_MESSAGES/djangojs.po
  locale/en_GB/LC_MESSAGES/django.po
  locale/en_GB/LC_MESSAGES/djangojs.po
  locale/fr_FR/LC_MESSAGES/django.po
  locale/fr_FR/LC_MESSAGES/djangojs.po
Due: none

fix: missing margin on login page, move forgot password below field
  wine_cellar/assets/css/forms.css
  wine_cellar/templates/allauth/elements/field.html
Due: make lint-html

fix: hide price if none on detail page
  wine_cellar/apps/wine/templates/wine_detail.html
Due: make lint-html

fix: some layout issues on smaller screens
  wine_cellar/assets/css/card.css
  wine_cellar/assets/css/detail.css
  wine_cellar/assets/css/menu.css
Due: none

refactor(storage detail): move location and description value below label
  wine_cellar/apps/storage/templates/storage_detail.html
Due: make lint-html

chore: update screenshots in readme
  README.md
  docs/README.md
Due: none

feat: add option to mark bottle as opened
  tests/storage/test_views_open.py
  wine_cellar/apps/storage/forms.py
  wine_cellar/apps/storage/migrations/0005_storageitem_drink_by_storageitem_opened_and_more.py
  wine_cellar/apps/storage/models.py
  wine_cellar/apps/storage/templates/stock_open.html
  wine_cellar/apps/storage/templates/storage_detail.html
  wine_cellar/apps/storage/templates/storage_item_history.html
  wine_cellar/apps/storage/views.py
  wine_cellar/apps/wine/emails.py
  wine_cellar/apps/wine/tasks.py
  wine_cellar/apps/wine/templates/emails/opened_bottle_reminder.txt
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/assets/css/detail.css
  wine_cellar/conf/celery.py
  wine_cellar/conf/urls.py
Due: make lint-html, make lint-py

fix: error when uploading existing image
  tests/conftest.py
  tests/helpers.py
  tests/test_views.py
  wine_cellar/apps/wine/views.py
Due: make lint-py

chore: add script to update docs version on bump
  pyproject.toml
  scripts/update_docs_version.sh
Due: none

docs: fix latest version and wording for deployment
  docs/setup/deployment.md
Due: none

feat: highlight opened bottles in stock
  wine_cellar/apps/storage/templates/storage_detail.html
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/assets/css/detail.css
Due: make lint-html

feat(landing page): show number of bottles in stock
  wine_cellar/apps/wine/templates/homepage.html
  wine_cellar/apps/wine/views.py
Due: make lint-html, make lint-py

ci: add scorecard workflow for supply-chain security
  .github/workflows/scorecard.yml
Due: none

fix: add missing buttons to undo bottle opening and finish a bottle
  tests/storage/test_views_consume.py
  tests/storage/test_views_undo_open.py
  wine_cellar/apps/storage/forms.py
  wine_cellar/apps/storage/templates/stock_consume.html
  wine_cellar/apps/storage/templates/stock_open.html
  wine_cellar/apps/storage/templates/stock_undo_open.html
  wine_cellar/apps/storage/templates/storage_detail.html
  wine_cellar/apps/storage/views.py
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/conf/urls.py
Due: make lint-html, make lint-py

chore: add black config for python3.13
  pyproject.toml
Due: none

fix: add better error handling for ai parsing
  wine_cellar/apps/wine/views.py
Due: make lint-py
