Repository the-broke-sommeliers/wine-cellar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, make lint-html, make lint-py

.lintstagedrc.json:

{
   "*.{js,jsx}": [
     "eslint"
   ],
   "*.html": [
     "make lint-html"
   ],
   "*.py": [
     "make lint-py"
   ]
}

chore: add legacy_tag_formats with v
  pyproject.toml
Due: none

bump: version 0.0.12 → 0.1.0-rc.0
  CHANGELOG.md
  pyproject.toml
  wine_cellar/__init__.py
Due: make lint-py

fix(stats): don't count removed bottles
  tests/test_views.py
  wine_cellar/apps/wine/views.py
Due: make lint-py

fix(filters): don't show wines with only deleted stock items
  tests/test_views.py
  wine_cellar/apps/wine/filters.py
Due: make lint-py

bump: version 0.1.0-rc.0 → 0.1.0
  CHANGELOG.md
  pyproject.toml
  wine_cellar/__init__.py
Due: make lint-py

chore: update README with new screenshots
  README.md
Due: none

feat(auth): use django-allauth for authentication
  .env.prod-sample
  requirements/base.txt
  tests/storage/test_views.py
  tests/test_views.py
  tests/user/test_views.py
  wine_cellar/apps/user/signup_adapter.py
  wine_cellar/apps/user/templates/settings.html
  wine_cellar/assets/css/forms.css
  wine_cellar/assets/css/menu.css
  wine_cellar/assets/css/page-layout.css
  wine_cellar/conf/docker_settings.py
  wine_cellar/conf/settings.py
  wine_cellar/conf/urls.py
  wine_cellar/templates/allauth/elements/button.html
  wine_cellar/templates/allauth/elements/field.html
  wine_cellar/templates/allauth/elements/fields.html
  wine_cellar/templates/allauth/elements/form.html
  wine_cellar/templates/allauth/layouts/base.html
  wine_cellar/templates/allauth/layouts/entrance.html
  wine_cellar/templates/allauth/layouts/manage.html
  wine_cellar/templates/base.html
  wine_cellar/templates/includes/settings_sidebar.html
Due: make lint-html, make lint-py

fix(wine_card): add missing maring-top and make detail container use available space
  wine_cellar/assets/css/card.css
Due: none

chore(renovate): add delay to package updates
  renovate.json
Due: none

chore(renovate): add missing comma
  renovate.json
Due: none

feat(wine): allow uploading multiple images of a wine
  tsconfig.json
  types/django.d.ts
  webpack.common.js
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/migrations/0015_wineimage_image_type.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/templates/forms/form_field.html
  wine_cellar/apps/wine/templates/widgets/clearable_file_input_no_filename.html
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/apps/wine/templates/wine_edit.html
  wine_cellar/apps/wine/views.py
  wine_cellar/apps/wine/widgets.py
  wine_cellar/assets/css/detail.css
  wine_cellar/assets/css/forms.css
  wine_cellar/assets/js/image_preview.ts
  wine_cellar/assets/js/init_tom_select.ts
  wine_cellar/assets/js/wine_carousel.ts
Due: eslint, make lint-html, make lint-py

style(css): format css files
  wine_cellar/assets/css/button.css
  wine_cellar/assets/css/card.css
  wine_cellar/assets/css/homepage.css
  wine_cellar/assets/css/map.css
  wine_cellar/assets/css/menu.css
  wine_cellar/assets/css/page-layout.css
  wine_cellar/assets/css/storage.css
  wine_cellar/assets/css/styles.css
  wine_cellar/assets/css/utility.css
Due: none

chore(html): format templates
  wine_cellar/apps/user/templates/settings.html
  wine_cellar/apps/wine/templates/widgets/clearable_file_input_no_filename.html
  wine_cellar/apps/wine/templates/wine_card.html
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/templates/allauth/elements/button.html
  wine_cellar/templates/allauth/elements/field.html
  wine_cellar/templates/allauth/elements/fields.html
  wine_cellar/templates/allauth/elements/form.html
  wine_cellar/templates/allauth/layouts/base.html
  wine_cellar/templates/allauth/layouts/entrance.html
  wine_cellar/templates/allauth/layouts/manage.html
  wine_cellar/templates/base.html
  wine_cellar/templates/includes/settings_sidebar.html
Due: make lint-html

chore(package.json): remove caret from dependency version
  package.json
Due: none

chore(images): automatically build and publish pushed tags
  .github/workflows/image.yml
Due: none

chore(ci): add release workflow with commitizen
  .github/workflows/release.yml
Due: none

chore(ci): fix syntax issues
  .github/workflows/release.yml
Due: none

chore(image): use latest docker actions
  .github/workflows/image.yml
Due: none

chore(release): fix yet another ai slop
  .github/workflows/release.yml
Due: none

fix(docker): fix pip not installing optional dependencies
  Dockerfile.prod
Due: none
