Repository the-broke-sommeliers/wine-cellar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, make lint-html, make lint-py

.lintstagedrc.json:

{
   "*.{js,jsx}": [
     "eslint"
   ],
   "*.html": [
     "make lint-html"
   ],
   "*.py": [
     "make lint-py"
   ]
}

forms: add more semantic elements to form field and style
  wine_cellar/apps/wine/templates/forms/form_field.html
  wine_cellar/assets/css/forms.css
  wine_cellar/assets/css/utility.css
Due: make lint-html

fix vertical-align for filter button
  wine_cellar/assets/css/forms.css
Due: none

Edit mobile menu to be proper header with app name and link
  wine_cellar/assets/css/menu.css
  wine_cellar/templates/base.html
Due: make lint-html

removed stat-conatiner div and styling as unified header negates the need
  wine_cellar/apps/wine/templates/homepage.html
  wine_cellar/apps/wine/templates/scan_wine.html
  wine_cellar/assets/css/homepage.css
  wine_cellar/assets/css/page-layout.css
Due: make lint-html

add additional styling for different button states
  wine_cellar/assets/css/button.css
  wine_cellar/assets/css/styles.css
Due: none

css: add overflow-wrap on card title
  wine_cellar/assets/css/card.css
Due: none

add sorting options to wine list
  wine_cellar/apps/wine/filters.py
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/apps/wine/views.py
Due: make lint-html, make lint-py

move stock buttons to own template and include in wine detail view
  wine_cellar/apps/wine/templates/includes/stock_buttons.html
  wine_cellar/apps/wine/templates/scanned_wine.html
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/assets/css/forms.css
Due: make lint-html

css: minor image layout fix
  wine_cellar/assets/css/image.css
Due: none

reformat templates
  wine_cellar/apps/wine/templates/forms/form_field.html
  wine_cellar/apps/wine/templates/homepage.html
  wine_cellar/apps/wine/templates/scan_wine.html
  wine_cellar/apps/wine/templates/wine_card.html
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/apps/wine/templates/wine_filter_field.html
  wine_cellar/apps/wine/templates/wine_list.html
Due: make lint-html

simplify scan logic
  wine_cellar/apps/wine/templates/scanned_wine.html
  wine_cellar/apps/wine/views.py
Due: make lint-html, make lint-py

ci: add coveralls gh action
  .github/workflows/ci.yml
Due: none

add models to django admin
  wine_cellar/apps/wine/admin.py
  wine_cellar/apps/wine/migrations/0005_alter_foodpairing_name_alter_grape_name_and_more.py
  wine_cellar/apps/wine/models.py
Due: make lint-py

README.md: add coverage badge
  README.md
Due: none

make all strings translatable and add form error messages to login
  wine_cellar/apps/wine/templates/forms/form_field.html
  wine_cellar/apps/wine/templates/homepage.html
  wine_cellar/apps/wine/templates/scan_wine.html
  wine_cellar/apps/wine/templates/scanned_wine.html
  wine_cellar/apps/wine/templates/wine_card.html
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/apps/wine/templates/wine_edit.html
  wine_cellar/apps/wine/templates/wine_list.html
  wine_cellar/assets/css/forms.css
  wine_cellar/templates/base.html
  wine_cellar/templates/registration/login.html
Due: make lint-html

add some more tests
  tests/conftest.py
  tests/test_views.py
  wine_cellar/apps/wine/tests/factories.py
  wine_cellar/apps/wine/views.py
Due: make lint-py

add tests for fields and remove some redundant code
  tests/conftest.py
  tests/test_fields.py
  wine_cellar/apps/wine/fields.py
  wine_cellar/apps/wine/tests/factories.py
Due: make lint-py

add more tests for wine form, scan views, change stock views
  tests/test_views.py
  wine_cellar/apps/wine/tests/factories.py
  wine_cellar/apps/wine/views.py
Due: make lint-py

update/refactor docs
  README.md
  docs/README.md
  docs/deployment.md
Due: none

restructure docs
  README.md
  docs/README.md
  mkdocs.yml
Due: none

enable more barcode types
  wine_cellar/react/react_bar_code.jsx
Due: eslint

renovate: only merge minor and patch versions
  renovate.json
Due: none

add whitenoise to production
  requirements/base.txt
  wine_cellar/conf/docker_settings.py
  wine_cellar/conf/prod.py
  wine_cellar/conf/settings.py
Due: make lint-py
