Repository the-broke-sommeliers/wine-cellar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, make lint-html, make lint-py

chore: replace pip+venv with uv
  .dockerignore
  .github/workflows/ci.yml
  .husky/commit-msg
  .python-version
  Dockerfile
  Dockerfile.prod
  Makefile
  pyproject.toml
  requirements.txt
  requirements/base.txt
  requirements/dev.txt
  requirements/prod.txt
  uv.lock
Due: none

chore: pin dependencies
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/image.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  Dockerfile
  Dockerfile.prod
  Makefile
  docker-compose.prod.yml
  docker-compose.yml
  package-lock.json
Due: none

fix: wine creation form not saving new values between steps
  tests/test_views.py
  wine_cellar/apps/wine/forms.py
Due: make lint-py

chore: simplify dependencies, remove unused
  package.json
  webpack.common.js
  wine_cellar/apps/wine/templates/forms/form_field.html
  wine_cellar/apps/wine/templates/wine_filter_field.html
  wine_cellar/apps/wine/templatetags/form_extras.py
  wine_cellar/conf/settings.py
  wine_cellar/react/maps/AddMarkerControl.tsx
Due: eslint, make lint-html, make lint-py

refactor: replace react barcode scanenr package with local implementation
  package.json
  wine_cellar/assets/css/forms.css
  wine_cellar/react/BarcodeScanner.tsx
  wine_cellar/react/react_bar_code.tsx
Due: none

feat: wip vintages
  package-lock.json
  tests/conftest.py
  tests/storage/test_models.py
  tests/storage/test_views.py
  tests/storage/test_views_open.py
  tests/test_drink_by.py
  tests/test_utils.py
  tests/test_views.py
  tests/test_wine_model.py
  wine_cellar/apps/storage/admin.py
  wine_cellar/apps/storage/migrations/0006_add_vintage_fk.py
  wine_cellar/apps/storage/migrations/0007_cleanup_storage_item.py
  wine_cellar/apps/storage/models.py
  wine_cellar/apps/storage/templates/stock_open.html
  wine_cellar/apps/storage/templates/storage_item_history.html
  wine_cellar/apps/storage/tests/factories.py
  wine_cellar/apps/storage/views.py
  wine_cellar/apps/wine/admin.py
  wine_cellar/apps/wine/filters.py
  wine_cellar/apps/wine/forms.py
  wine_cellar/apps/wine/migrations/0019_add_vintage_model.py
  wine_cellar/apps/wine/migrations/0020_migrate_vintage_data.py
  wine_cellar/apps/wine/migrations/0021_cleanup_wine_vintage_fields.py
  wine_cellar/apps/wine/models.py
  wine_cellar/apps/wine/serializers.py
  wine_cellar/apps/wine/tasks.py
  wine_cellar/apps/wine/templates/emails/drink_by_reminder.txt
  wine_cellar/apps/wine/templates/emails/opened_bottle_reminder.txt
  wine_cellar/apps/wine/templates/vintage_confirm_delete.html
  wine_cellar/apps/wine/templates/vintage_form.html
  wine_cellar/apps/wine/templates/wine_card.html
  wine_cellar/apps/wine/templates/wine_create.html
  wine_cellar/apps/wine/templates/wine_detail.html
  wine_cellar/apps/wine/templates/wine_scan_multiple.html
  wine_cellar/apps/wine/tests/factories.py
  wine_cellar/apps/wine/utils.py
  wine_cellar/apps/wine/views.py
  wine_cellar/conf/urls.py
Due: make lint-html, make lint-py

fix(celery): set correct default config path
  wine_cellar/conf/celery.py
Due: make lint-py

feat(celery): add a new ENV variable REDIS_URL to be able to pass a custom url to celery
  .env.prod-sample
  wine_cellar/conf/docker_settings.py
Due: make lint-py

fix(docker): fix incorrect permission setting for home folder
  Dockerfile.prod
Due: none

docs: add more details on media files and .env variables when not using docker compose
  docs/setup/deployment.md
Due: none

fix: handle adding an existing wine more gracefully by showing an error in the form
  tests/test_views.py
  wine_cellar/apps/wine/views.py
Due: make lint-py

tests: fix factory warnings and add statif path
  wine_cellar/apps/wine/tests/factories.py
  wine_cellar/conf/test.py
Due: make lint-py

docs: update docs with more info on storage and wine features
  docs/usage/notifications.md
  docs/usage/storage.md
  docs/usage/wine.md
  zensical.toml
Due: none

fix: Dockerfile.prod broken after switch to uv
  .env.dev-sample
  Dockerfile
  Dockerfile.prod
  wine_cellar/conf/docker_dev_settings.py
Due: make lint-py

fix: fix docker-compose command for dev container
  docker-compose.yml
Due: none

tests: add more tests for previously uncovered code
  tests/storage/test_models.py
  tests/storage/test_views.py
  tests/test_drink_by.py
  tests/test_serializers.py
  tests/test_utils.py
  tests/test_views.py
  tests/test_wine_model.py
Due: make lint-py

tests: restructure test files
  tests/storage/test_views.py
  tests/storage/test_views_stock.py
  tests/storage/test_views_swap.py
  tests/wine/__init__.py
  tests/wine/test_fields.py
  tests/wine/test_models.py
  tests/wine/test_serializers.py
  tests/wine/test_tasks.py
  tests/wine/test_utils.py
  tests/wine/test_views_ai.py
  tests/wine/test_views_create.py
  tests/wine/test_views_crud.py
  tests/wine/test_views_home.py
  tests/wine/test_views_list.py
  tests/wine/test_views_misc.py
Due: make lint-py

docs: add ossf scorecard to readme
  README.md
Due: none

chore: ignore node_modules in make po
  Makefile
Due: none

chore: update translations
  locale/de_DE/LC_MESSAGES/django.po
  locale/en_GB/LC_MESSAGES/django.po
  locale/fr_FR/LC_MESSAGES/django.po
Due: none

chore: update german and french translations
  locale/de_DE/LC_MESSAGES/django.po
  locale/fr_FR/LC_MESSAGES/django.po
  locale/fr_FR/LC_MESSAGES/djangojs.po
Due: none

fix: use bugsink recommended settings for sentry sdk
  wine_cellar/conf/docker_settings.py
Due: make lint-py

Path conditions:
  eslint: any of: *.{js,jsx}
  make lint-html: any of: *.html
  make lint-py: any of: *.py
